<div class="mid">
    <!-- banner -->
    <div ng-repeat="(key_this_teacher , this_teacher) in teacher_data.data['0'].tmp_list" class="banner" style="background-image: url(images/index_one_img3.jpg)">
        <div>
            <div class="user-img"><img src="upload/teach/{{this_teacher.image}}" alt=""></div>
            <div class="user-name">{{this_teacher.nick_name}}</div>
        </div>

    </div>
    <ul class="function-menu">
        <li><a href="TeacherText.htm">{{ 'TEACHER_APPRAISE_TIME_LINE' | translate }}</a></li>
        <li><a href="video.html">{{ 'TEACHER_APPRAISE_VIDEO' | translate }}</a></li>
        <li class="float-right recommend">{{ 'TEACHER_APPRAISE_RECOMMEND' | translate }}</li>
    </ul>
    <!-- banner END -->

    <!-- 評價 -->
    <div ng-show="0" class="class_index">
        <div class="btn prev"><img src="images/prev.png" alt=""></div>
        <div class="class_wrap">
            <div class="class_menu" style="margin-left:0">
                <div class="class_img now-class"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt="1234"></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
                <div class="class_img"><img src="images/book.jpg" alt=""></div>
            </div>
        </div>
        <div class="btn next"><img src="images/next.png" alt=""></div>
    </div>
    <div class="appraise-text">

        <!-- 課程名稱 -->
        <div ng-show="0" class="class-name">
            <h1>this is class name</h1>
        </div>
        <!-- 課程名稱 END -->
        <!-- 評價欄 -->
        <div ng-repeat="tmpratelist in ratelist.data[0].tmp_list" class="text-wrap">
            <div class="t_b_s1"><img src="upload/teach/{{tmpratelist.student_image}}" alt=""></div>
            <div class="t_b_s2">
                <span class="user-name">{{tmpratelist.student_nick_name}}</span>
                <span class="star">
                       {{ 'TEACHER_APPRAISE_STAR' | translate }} :
                        <div class="readOnly tutorrating" data-score="{{tmpratelist.teach_score}}"></div>
                    </span>
            </div>
            <div class="t_b_s2">
                <div class="c_t">
                    {{tmpratelist.lesson_rate_note}}
                </div>
            </div>
        </div>
    </div>

</div>




<!--<script type="text/javascript-lazy">-->
<script type="text/javascript-lazy">
    angular.element(document).ready(function () {
        init();
    });
    function init(){
        
        var _class_wrap = $(".class_index .class_wrap").innerWidth(),
            _classImg_width = _class_wrap/8-2
        $(".class_index .class_img").width(_classImg_width)
        var $img_index = Math.ceil($(".class_index .class_wrap .class_img").length/8)
        $(".class_index .class_wrap .class_menu").width(_class_wrap * $img_index)
        /*--上下筆切換--*/
        $(".class_index .btn").unbind().click(function(){
            var $this = $(this),
                _class_wrap = $(".class_index .class_wrap").width(),
                _class_menu = $(".class_index .class_wrap .class_menu")
            if( $this.hasClass("prev") ){
                if(parseInt($(".class_menu").css('margin-left')) <= "-"+$(".class_wrap").innerWidth()){
                        _class_menu.stop(true,true).animate({'margin-left':'-='+_class_wrap*-1},250)
                    }
            }else{
                if(parseInt(_class_menu.css('margin-left')) >= ($(".class_menu").innerWidth()-($(".class_index .class_wrap").innerWidth())*2)*-1){
                    _class_menu.stop(true,true).animate({'margin-left':'+='+_class_wrap*-1},250)
                }
            }
        })
        /*--上下筆切換-END--*/
        $(".class_index .class_img").click(function(){
            var $this =$(this)
            $(".class_index .class_img").removeClass('now-class')
            $this.addClass("now-class")
            
        })
        
        $(".close-btn , .yesBtn").click(function(){
            $('body').css('overflow','auto')
            $(".pop-up").hide()
            $('.member-box').hide()
            $(".recommend-box").hide()
            $('.pop-up video').hide().attr('src','')
            $('.mid').css('height','auto')
            $('.mid').css('overflow','auto')
            $('.booking').hide()
        })
        
        $('label img').click(function(){
            var $this = $(this)
            $this.parent().toggleClass('selectThis') 
        })
        
        $('.friend label').each(function(){
            var $this = $(this),
                $this_for = $this.attr('for')
            $this.find('input').attr('id',$this_for)
        })

        $(".recommend").click(function(){
            $('body').css('overflow','hidden')
            $('.member-box').hide()
            $(".pop-up").show()
            $(".recommend-box").show()
        })

        $.fn.raty.defaults = {
            cancel       : false,
            cancelClass  : 'raty-cancel',
            cancelHint   : 'Cancel this rating!',
            cancelOff    : 'cancel-off.png',
            cancelOn     : 'cancel-on.png',
            cancelPlace  : 'left',
            click        : undefined,
            half         : false,
            halfShow     : true,
            hints        : ['bad', 'poor', 'regular', 'good', 'gorgeous'],
            iconRange    : undefined,
            mouseout     : undefined,
            mouseover    : undefined,
            noRatedMsg   : 'Not rated yet!',
            number       : 5,
            numberMax    : 20,
            path         : undefined,
            precision    : false,
            readOnly     : true,
            round        : { down: 0.1, full: 0.49, up: 0.5 },
            score        : undefined,
            scoreName    : 'query[teach_score]',
            single       : false,
            space        : true,
            starHalf     : 'apple-half.png',
            starOff      : 'apple-off.png',
            starOn       : 'apple-on.png',
            starType     : 'img',
            target       : undefined,
            targetFormat : '{score}',
            targetKeep   : false,
            targetScore  : undefined,
            targetText   : '',
            targetType   : 'hint'
        };	
        $.fn.raty.defaults.path = 'assets/js/jquery.raty.images';

            $('.readOnly').raty({
                score: function() {
                    return $(this).attr('data-score');
                }
            }); 
        
    }

</script>