<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

        <div style="width:400px;height:400px;margin:auto">
            <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling">
                <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#fc4309" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(264 50 50)">
                  <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
                </circle>
            </svg>
        </div>

    </body>
    <script>

        (function () {

            _callAPI("?service=User.ZoomOpen", null, _onOpenSuccess);

        }());

        function _onOpenSuccess(_response) {
            console.log(_response);

            var _tmpZoom = _response;
            if ( !_tmpZoom
                || !_tmpZoom.data
                || !_tmpZoom.data.length
                || !_tmpZoom.data["0"].result
                || !_tmpZoom.data["0"].result.data
                || !_tmpZoom.data["0"].result.data.start_url ) {
                alert("會議室已滿或已開會議室");
                //window.close();
            } else {

                
                _callAPI("?service=User.ZoomUpdateStatusOnline", {
                        hostId: _tmpZoom.data["0"].result.data.host_id,
                        roomId: _tmpZoom.data["0"].result.data.id,
                    },function(){
                        window.location.href = _tmpZoom.data["0"].result.data.start_url;
                    });
                    
            }

        }

        function _callAPI(_code, _data, _callbackSuccess) {

            var APIForder = "https://api.showhi.co/Public/showhi/";
            var _xhttp = new XMLHttpRequest();
            _xhttp.onreadystatechange = _onreadystatechange;
            _xhttp.open("POST", APIForder + _code , true);
            _xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
            _data =_data || {};
            _data.sid = window.localStorage.sid;
            _xhttp.send(JSON.stringify(_data));

            function _onreadystatechange (_response) {
                if ( _xhttp.readyState !== 4 ) return;
                var _response = JSON.parse(_xhttp.responseText);
                if ( _xhttp.status === 200 ) _onAPISuccess(_response);
                else _onAPIError(_response);
                _onAPIFinish();
            }

            function _onAPISuccess(_response) {
                if ( _callbackSuccess ) _callbackSuccess(_response);
            }

            function _onAPIError(_response) {

            }

            function _onAPIFinish(_response) {

            }

        }

    </script>
</html>