@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
    Hyperspace by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
*/

/* Type */

    body, input, select, textarea {
        color: _palette(fg-bold);
    }

/* Button */

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        position: relative;

        &:after {
            display: none;
        }
    }

/* Features */

    .features {
        border: solid 1px;
    }

/* Form */

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        background: transparent;
        border: solid 1px;
    }

/* Split */

    .split {
        &.style1 {
            > :first-child {
                padding-right: 2em;
                width: 70%;
            }
        }
    }