@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
    Hyperspace by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
*/

/* Type */

    h1 {
        &.major {
            &:after {
                background: _palette(accent3);
            }
        }
    }

/* Wrapper */

    .wrapper {
        &.fullscreen {
            min-height: 0;
            padding-bottom: 6em;
            padding-top: 6em;

            body.is-ie & {
                height: auto;
            }
        }
    }

/* Spotlights */

    .spotlights {
        > section {
            padding-left: 20em;
            position: relative;

            > .image {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 20em;
            }

            > .content {
                width: 100%;
            }
        }
    }

/* Features */

    .features {
        &:after {
            clear: both;
            content: '';
            display: block;
        }

        section {
            float: left;
        }
    }

/* Split */

    .split {
        &:after {
            clear: both;
            content: '';
            display: block;
        }

        > * {
            float: left;
        }
    }

/* Sidebar */

    #sidebar {
        nav {
            a {
                &:after {
                    background-color: _palette(accent3);
                }
            }
        }
    }

/* Header */

    #header {
        &:after {
            clear: both;
            content: '';
            display: block;
        }

        > .title {
            float: left;
        }

        > nav {
            float: right;
        }
    }