@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.min.css';

/*
    Hyperspace by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
*/

    @include skel-breakpoints((
        xlarge: '(max-width: 1680px)',
        large: '(max-width: 1280px)',
        medium: '(max-width: 980px)',
        small: '(max-width: 736px)',
        xsmall: '(max-width: 480px)',
        xxsmall: '(max-width: 360px)'
    ));

    @include skel-layout((
        reset: 'full',
        boxModel: 'border',
        grid: ( gutters: 1.5em )
    ));

// Base.

    @import 'base/page';
    @import 'base/typography';

// Component.

    @import 'components/box';
    @import 'components/button';
    @import 'components/features';
    @import 'components/form';
    @import 'components/icon';
    @import 'components/image';
    @import 'components/list';
    @import 'components/section';
    @import 'components/split';
    @import 'components/spotlights';
    @import 'components/table';
    @import 'components/wrapper';

// Layout.

    @import 'layout/header';
    @import 'layout/wrapper';
    @import 'layout/footer';
    @import 'layout/sidebar';
    @import 'layout/intro';