///
/// Hyperspace by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* List */

    ol {
        list-style: decimal;
        margin: 0 0 _size(element-margin) 0;
        padding-left: 1.25em;

        li {
            padding-left: 0.25em;
        }
    }

    ul {
        list-style: disc;
        margin: 0 0 _size(element-margin) 0;
        padding-left: 1em;

        li {
            padding-left: 0.5em;
        }

        &.alt {
            list-style: none;
            padding-left: 0;

            li {
                border-top: solid _size(border-width) _palette(border);
                padding: 0.5em 0;

                &:first-child {
                    border-top: 0;
                    padding-top: 0;
                }
            }
        }

        &.icons {
            cursor: default;
            list-style: none;
            padding-left: 0;

            li {
                display: inline-block;
                padding: 0 0.75em 0 0;

                &:last-child {
                    padding-right: 0;
                }

                > a, > span {
                    border: 0;
                    @include icon;

                    .label {
                        display: none;
                    }
                }
            }
        }

        &.actions {
            cursor: default;
            list-style: none;
            padding-left: 0;

            li {
                display: inline-block;
                padding: 0 (_size(element-margin) * 0.5) 0 0;
                vertical-align: middle;

                &:last-child {
                    padding-right: 0;
                }
            }

            &.small {
                li {
                    padding: 0 (_size(element-margin) * 0.25) 0 0;
                }
            }

            &.vertical {
                li {
                    display: block;
                    padding: (_size(element-margin) * 0.5) 0 0 0;

                    &:first-child {
                        padding-top: 0;
                    }

                    > * {
                        margin-bottom: 0;
                    }
                }

                &.small {
                    li {
                        padding: (_size(element-margin) * 0.25) 0 0 0;

                        &:first-child {
                            padding-top: 0;
                        }
                    }
                }
            }

            &.fit {
                display: table;
                margin-left: (_size(element-margin) * -0.5);
                padding: 0;
                table-layout: fixed;
                width: calc(100% + #{(_size(element-margin) * 0.5)});

                li {
                    display: table-cell;
                    padding: 0 0 0 (_size(element-margin) * 0.5);

                    > * {
                        margin-bottom: 0;
                    }
                }

                &.small {
                    margin-left: (_size(element-margin) * -0.25);
                    width: calc(100% + #{(_size(element-margin) * 0.25)});

                    li {
                        padding: 0 0 0 (_size(element-margin) * 0.25);
                    }
                }
            }

            @include breakpoint(xsmall) {
                margin: 0 0 _size(element-margin) 0;

                li {
                    padding: (_size(element-margin) * 0.5) 0 0 0;
                    display: block;
                    text-align: center;
                    width: 100%;

                    > * {
                        width: 100%;
                        margin: 0 !important;

                        &.icon {
                            &:before {
                                margin-left: -2em;
                            }
                        }
                    }

                    .button {
                        padding: 0;
                    }

                    &:first-child {
                        padding-top: 0;
                    }
                }

                &.small {
                    li {
                        padding: (_size(element-margin) * 0.25) 0 0 0;

                        &:first-child {
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        &.contact {
            list-style: none;
            padding: 0;

            > li {
                padding: 0;
                margin: 1.5em 0 0 0;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &.menu {
            list-style: none;
            padding: 0;

            > li {
                border-left: solid 1px _palette(border);
                display: inline-block;
                line-height: 1;
                margin-left: 1.5em;
                padding: 0 0 0 1.5em;

                &:first-child {
                    border-left: 0;
                    margin: 0;
                    padding-left: 0;
                }
            }

            @include breakpoint(xsmall) {
                > li {
                    border-left: 0;
                    display: block;
                    line-height: inherit;
                    margin: 0.5em 0 0 0;
                    padding-left: 0;
                }
            }
        }
    }

    dl {
        margin: 0 0 _size(element-margin) 0;

        dt {
            display: block;
            font-weight: _font(weight-bold);
            margin: 0 0 (_size(element-margin) * 0.5) 0;
        }

        dd {
            margin-left: _size(element-margin);
        }
    }