<div class="mid communityPage">
    <!-- banner -->
    <!-- banner END -->
    <!-- 左邊區塊 -->
    <div ng-include="'templates/Fan/LeftMenu.htm'"></div>

    <!-- 右邊區塊 -->
    <div ng-if="fan_manage_list.length >=1" class="right">
        <!-- 粉絲團 banner -->
        <div ng-repeat="(key_this_fan , this_fan) in fan_tmp_list" class="banner" style="background-image: url(upload/fan/{{this_fan.bg_image}}); background-position-y:{{this_fan.bg_image_style}}%; ">
            <label for="" ng-click="cutbannershow()" class="modify-bg"><i class="fa fa-picture-o" aria-hidden="true"></i>{{ 'TEACHER_MY_PROFILE_MODIFY_BANNER' | translate }}</label>
            <!-- 更換背景 -->
            <div class="float-Box banner-modify">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
            </div>

            <article ng-init="upIma()">
                <div class="cutBannerImgBox">
                    <div id="holder">
                        <img id="target_bg_image" src="" alt="" style="top:0;">
                    </div>
                    <div id="upload" class="moveBar">
                        <div class="topBar seeBar"></div>
                        <span>{{ 'MOVE_BANNER_IMG' | translate }}</span>
                        <div class="bottomBar seeBar"></div>
                    </div>
                </div>
            </article>
        </div>
        <ul class="function-menu fanMange">
            <li onclick="uploadFanBgPhoto()" fan_id="{{fan_tmp_list[0].id}}" id="bgHeight" class="cutBannerBTN saveCutBanner bc_BR tc_WS">{{ 'SAVE' | translate }}</li>
            <li ng-click="closeCutBanner()" class="cutBannerBTN closeCutBannen bc_CLOSE tc_BL">{{ 'SHARE_POP_UP_BUTTONS_CLOSE' | translate }}</li>
            <li class="up_img_files_li">
                <form id="backgroundFileForm" method="post" action="#" enctype="multipart/form-data">
                    <input type="file" accept='image/*' id="files_bg_image" ng-click="files_bg_image()" class="" title="{{ 'STUDENT_MY_PROFILE_MODIFY_CHOOSE_FILE' | translate }}。" accept="" name="photoFile">
                </form>
            </li>
        </ul>
        <!-- memberList -->
        <div class="memberList bor_s_1">
            <div class="communityMember bor_b">
                <div ng-repeat="(key_this_fan , this_fan) in fan_tmp_list" class="user-img bor_s_1 ">
                   <a href="Fan.FanText/{{fan_tmp_list[0].id}}"><img src="upload/fan/{{this_fan.image}}" alt=""></a>
                </div>
                <div class="modify-img" ng-click="showCutAvatar();"><i class="fa fa-picture-o" aria-hidden="true"></i>{{ 'TEACHER_MY_PROFILE_MODIFY_PIC' | translate }}</div>

                <div class="newMember">{{ 'ADD_MEMBERS' | translate }}

                    <input ng-model="data.email" type="text" placeholder="{{ 'US_EMAIL_INVITE' | translate }}">
                    <button type="button" ng-click="InviteFanMember(data)" class="bc_BR tc_WS">{{ 'TEACHER_TEXT_SEND' | translate }}</button>
                    <div class="exText">
                        {{ 'ADD_MEMBERS_MSG' | translate }}
                    </div>
                    
                    <div class="plusMoreMember">
                        <input name="file_excel" id="file_excel" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" type="file">
                        <button type="button"  ng-click="InviteMultiFanMember(data)" class="bc_BR tc_WS">{{ 'PLUSMOREMEMBER' | translate }}</button>
                        <div class="exText">
                            {{ 'ADD_MEMBERS_MSG2' | translate }}
                        </div>
                    </div>
                    
                    
                </div>
            </div>

            <div class="changeAboutMe">
                <div class="title">{{ 'ABOUT_COMMUNITY' | translate }}</div>
                <div class="content">
                    <div id="fan_text" ng-click="changeAbout()" placeholder="{{ 'WRITE_SOME_INTRODUCTION' | translate }}" class="textareaBox">
                        {{fan_tmp_list[0].text}}

                    </div>
                </div>
                <div class="btns">
                    <button ng-click="changeAbout()" class="bc_BR tc_WS changeBtn">{{ 'MODIFY' | translate }}</button>
                    <button ng-click="FanEditUP(fan_tmp_list[0].id)" class="bc_BR tc_WS saveBtn">{{ 'SAVE' | translate }}</button>
                    <button ng-click="closeChangeAbout()" class="bc_CLOSE tc_BL closeBtn">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                </div>
            </div>

            <div class="memberBox">
                <div ng-repeat="(key_this_fan_user_list , this_fan_user_list) in fan_user_list track by $index" class="userBox bor_s_1">
                    <div class="userPic">
                        <a href="Course.TeacherText/{{this_fan_user_list.user_id}}"><img src="upload/teach/{{this_fan_user_list.image}}" alt=""> </a>
                    </div>
                    <div class="dateBox">
                        <div><a href="Course.TeacherText/{{this_fan_user_list.user_id}}">{{this_fan_user_list.nick_name}}</a></div>
                        <div ng-if="this_fan_user_list.approval =='I'">
                            <div>{{this_fan_user_list.post_date}} {{ 'INVITE_JOIN' | translate }}</div>
                            <div>
                                <button ng-click="RefuseInviteFanMember(this_fan_user_list.mang_id,key_this_fan_user_list)">{{ 'QUIT_INVITE' | translate }}</button>
                            </div>
                        </div>

                        <div ng-if="this_fan_user_list.approval =='Y'">
                            <div>{{this_fan_user_list.post_date}} {{ 'JOIN_COMMUNITY' | translate }} </div>
                        </div>

                        <div ng-if="this_fan_user_list.approval =='Y'">
                            <div class="memberIs">{{ 'IDENTITY' | translate }}: </div>
                            <div class="isAdmin" ng-if="this_fan_user_list.o_type =='admin'">{{ 'ADMIN_MANAGER' | translate }}</div>
                            <select ng-if="this_fan_user_list.o_type !='admin'" name="type" ng-change="ChangeFanMemberType()" ng-model="this_fan_user_list.type">
                                <option id="hidden_option" value="" selected hidden />
                                <option ng-selected="this_fan_user_list.type =='admin'" value="admin">{{ 'ADMIN_MEMBER' | translate }}</option>
                                <option ng-selected="this_fan_user_list.type =='board'" value="board">{{ 'MSG_ADMIN' | translate }}</option>
                                <option ng-selected="this_fan_user_list.type =='staff'" value="staff">{{ 'ADMINISTRATIVE' | translate }}</option>
                                <option ng-selected="this_fan_user_list.type =='nomal'" value="nomal">{{ 'GENERAL_USER' | translate }}</option>
                                <option ng-selected="this_fan_user_list.type =='teach'" value="teach">{{ 'FACULTY_MEMBER' | translate }}</option>
                            </select>
                            <button ng-if="this_fan_user_list.o_type !='admin'" ng-click="quitFanMember()">{{ 'DELETE_MEMBER' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div ng-if="fan_wait_list_count >=1" class="apply_to_join_title bor_s_1">
            <div class="title">{{ 'APPLY_JOIN_LIST' | translate }} <span>( {{fan_wait_list_count}} )</span></div>
        </div>
        <div ng-if="fan_manage_list.length >='1'" ng-repeat="(key_this_fan_wait , this_fan_wait) in fan_wait_list track by $index" class="apply_to_join bor_s_1">
            <div class="applyList">
                <div class="applyUser bor_s_1">
                    <div class="picBox">
                        <a href="Course.TeacherText/{{this_fan_wait.user_id}}"><img src="upload/teach/{{this_fan_wait.image}}" alt=""></a>
                    </div>
                    <div class="applyDate">

                        <span> <div class="userName"><a href="Course.TeacherText/{{this_fan_wait.user_id}}">{{this_fan_wait.nick_name}} </a> </div></span>
                        <span>{{this_fan_wait.post_date}} {{ 'APPLY_JOIN2' | translate }} <banner ng-click="AgreeFanMember(this_fan_wait.mang_id,key_this_fan_wait)" class="bc_BR tc_WS">{{ 'AGREE' | translate }}</banner><banner ng-click="RefuseFanMember(this_fan_wait.mang_id,key_this_fan_wait)" class="bc_CLOSE">{{ 'DELETE' | translate }}
                        </banner></span>
                    </div>
                </div>

                <div ng-if="fan_wait_list_count ==0" class="no_apply bor_s_1">{{ 'NO_MORE_APPLY_JOIN' | translate }}</div>
            </div>
        </div>

    </div>

</div>
<div ng-click="BoardCancel(data)" class="blackBg"></div>
<div class="blackBg2"></div>
<!-- 編輯/刪除貼文 POP-UP -->
<div class="change_msg_pup">
    <div class="change_msg_box bor_s_1">
        <!--刪除貼文-->
        <div class="del_msg">
            <div class="title bc_BR tc_WS">{{ 'DELETE_MSG' | translate }} <i ng-click="closeEditPost()" class="fa fa-times" aria-hidden="true"></i> </div>
            <div class="content_box">
                {{ 'DELETE_POST_TEXT' | translate }}
            </div>
            <div class="btns">
                <button ng-click="closeEditPost()" class="cancel">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                <!--取消-->
                <button ng-click="DeleteUP()" class="del_msg_btn bc_BR tc_WS">{{ 'DELETE_MSG' | translate }}</button>
                <!--刪除貼文-->
                <!--<button ng-click="editPost()" class="edit_post_Btn">{{ 'EDIT_POST' | translate }}</button>-->
                <!--編輯貼文-->
            </div>
        </div>

        <!-- 編輯貼文 -->
        <div class="edit_msg">
            <div class="title bc_BR tc_WS">{{ 'EDIT_POST' | translate }} <i ng-click="noChangePost()" class="fa fa-times" aria-hidden="true"></i> </div>
            <div class="content_box">

                <div class="user-img"><a href="Fan.FanText/{{fan_tmp_list[0].id}}"><img src="upload/teach/{{seedata.data[0].f_backend.image}}" alt=""></a></div>
                <div class="msg">
                    <textarea name="" ng-model="edit_data.text" id="" cols="30" rows="10" ng-attr-title=" {{'TEACHER_MY_PROFILE_POTEXT' | translate }}"></textarea>
                </div>

                <div class="imagr_or_video">
                    <div ng-show="edit_data.type =='1' "><img ng-src="upload/teach/{{edit_data.attached_name}}" alt=""></div>
                    <div ng-show="edit_data.type =='2' ">
                        <video id="target_video" type="video/mp4" controls="true" ng-src="{{'upload/teach/'+edit_data.attached_name}}"></video>
                    </div>
                </div>
            </div>
            <div class="btns">
                <button ng-click="BoardEditUP()" class="save_btn bc_BR tc_WS">{{ 'SAVE' | translate }}</button>
                <!-- 儲存 -->
                <select name="read_permi" ng-model="edit_data.read_permi">
                    <option ng-selected="edit_data.read_permi =='public'" value="public">{{ 'TEACHER_TEXT_PUBLIC' | translate }}</option>
                    <option ng-selected="edit_data.read_permi =='private'" value="private">{{ 'TEACHER_TEXT_PRIVATE' | translate }}</option>
                </select>
            </div>

            <div class="no_change_pup">
                <div class="no_change_post bor_s_1">
                    <div class="title bc_BR tc_WS">{{ 'NO_CHANGE_POST' | translate }} <i ng-click="closeNoChange()" class="fa fa-times" aria-hidden="true"></i> </div>
                    <div class="content_box">{{ 'NO_CHANGE_TEXT' | translate }} </div>
                    <div class="btns">
                        <button ng-click="yesNoChange()" class="no_change_btn bc_BR tc_WS">{{ 'NO_CHANGE_BTN' | translate }} </button>
                        <button ng-click="closeNoChange()" class="no">{{ 'NO' | translate }} </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

</div>
<!-- 圖片裁切 -->
<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        margin: auto;
        width: 50%;
        height: 400px;
    }
</style>
<div ng-controller="CorpCtrl" class="cut_pop_up">
    <!-- 頭像 -->
    <div class="avatar_cut cut_box">
        <div class="title bc_BR tc_WS">{{ 'AVATAR' | translate }} <i ng-click="closeCut();clear();" class="fa fa-times" aria-hidden="true"></i></div>
        <div class="img_box">
            <div class="cropArea">
                <img-crop image="imgSrc" area-type="square" result-image="myCroppedImage" area-min-size="50" area-max-size="181" result-image-size="181"></img-crop>
            </div>
            <div ng-hide="0" style="width: 181px;display:block; margin:auto;">
                <img id="imguserphoto64" style="width:180px" ng-src="{{myCroppedImage}}"></img>
            </div>

        </div>
        <div class="btns">
            <input name="file" id="TmpphotoFile" accept='image/*' type="file">

            <div>
                <button type="button" id="FanPhotoSave" fan_id="{{fan_tmp_list[0].id}}" onclick="uploadFanPhoto('photo')" class="save bc_BR tc_WS">{{ 'SAVE' | translate }}</button>
                <!-- 儲存 -->
                <button ng-click="closeCut();clear()" type="button" class="cancel bc_BR tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                <!-- 取消 -->
            </div>
        </div>
    </div>
</div>

<div class="communityPopUp">
    <div ng-click="colsePopUp()" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="funMsgPopUpBox bor_s_1 deleteUser">
        <div class="title bor_b">{{ 'REMOVED' | translate }} <i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i></div>
        <div class="content bor_b">
            {{ 'REMOVED_TEXT' | translate }} ，USER NAME ?
        </div>
        <div class="btns">
            <button ng-click="deleteMenber()" class="bc_BR tc_WS">{{ 'YES' | translate }}</button>
            <button ng-click="colsePopUp()" class="bc_BR tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
        </div>
    </div>

    <div class="funMsgPopUpBox bor_s_1 quitCommnuity">
        <div class="title bor_b">{{ 'DELETE_MEMBER' | translate }}<i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i></div>
        <div class="content bor_b">
            {{ 'DELETE_MEMBER_TEXT' | translate }} ( {{fan_user_list[tmp_key].nick_name}} ) ？
        </div>
        <div class="btns">
            <button ng-click="DeleteFanMember()" class="bc_BR tc_WS">{{ 'DELETE_MEMBER' | translate }}</button>
            <button ng-click="colsePopUp()" class="bc_BR tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
        </div>
    </div>

</div>