<div class="mid communityPage">
    <!-- 左邊區塊 -->
    <div ng-include="'templates/Fan/LeftMenu.htm'"></div>
    <!-- 右邊區塊 -->
    <div class="right">
    <div class="title textDB bc_BR tc_WS"> {{ 'COMM_REPORT' | translate }} </div>
    <div class="textDB"> {{ 'COMM_MEMBER_NUMBER' | translate }} : {{fan_man_list_count}}</div> <!-- 社群成員人數 -->
    <div ng-click="openTop50Member()" class="iconDB"><div><div><i class="fa fa-users" aria-hidden="true"></i>{{ 'COMM_TOP50ONLINEMEMBER' | translate }}</div></div></div> <!-- 最常在線上的成員(前五十名) -->
    <div ng-click="openViweText()" class="iconDB"><div><div><i class="fa fa-newspaper-o" aria-hidden="true"></i>{{ 'COMM_VIEWTEXT' | translate }}</div></div></div><!-- 文章觀看次數 -->
    <div ng-click="openViweImg()" class="iconDB"><div><div><i class="fa fa-picture-o" aria-hidden="true"></i>{{ 'COMM_VIEWIMG' | translate }}</div></div></div><!-- 圖片觀看次數 -->
    <div ng-click="openViweVideo()" class="iconDB"><div><div><i class="fa fa-video-camera" aria-hidden="true"></i>{{ 'COMM_VIEWVIDEO' | translate }}</div></div></div><!-- 影片觀看次數 -->
    <div ng-click="openViweLive()" class="iconDB"><div><div><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{ 'COMM_VIEWLIVE' | translate }}</div></div></div><!-- 直播觀看次數 -->
    <div ng-click="openTop50Text()" class="iconDB"><div><div><i class="fa fa-newspaper-o" aria-hidden="true"></i>{{ 'COMM_TOP50TEXT' | translate }}</div></div></div><!-- 最多觀看的文章(前五十名) -->
    <div ng-click="openTop50Img()" class="iconDB"><div><div><i class="fa fa-picture-o" aria-hidden="true"></i>{{ 'COMM_TOP50IMG' | translate }}</div></div></div><!-- 最多觀看的圖片(前五十名) -->
    <div ng-click="openTop50Video()" class="iconDB"><div><div><i class="fa fa-video-camera" aria-hidden="true"></i>{{ 'COMM_TOP50VIDEO' | translate }}</div></div></div><!-- 最多觀看的影片(前五十名) -->
    <div ng-click="openTop50Live()" class="iconDB"><div><div><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{ 'COMM_TOP50LIVE' | translate }}</div></div></div><!-- 最多觀看的直播(前五十名) -->
    <div ng-click="openBookingList()" class="iconDB"><div><div><i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{ 'BOOKINGLIST' | translate }}</div></div></div><!-- 最多觀看的直播(前五十名) -->
    
    <div class="dbDT forTop50Member">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_TOP50ONLINEMEMBER' | translate }}</div><!-- 最常在線上的成員(前五十名) -->
        <ul class="tableUl">
            <li ng-click="top50BtnClick($event)" class="top50Btn nowThis">{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}</li><!--週--> 
            <li ng-click="top50BtnClick($event)" class="top50Btn">{{ 'CLASS_APPRAISE_TIME_MONTH' | translate }}</li> <!--月-->
            <li ng-click="top50BtnClick($event)" class="top50Btn">{{ 'SEASON' | translate }}</li> <!--季-->
        </ul>
        <ul class="titleUl">
            <li class="thisPostTime">NO.</li>
            <li class="postCon">{{ 'MEMBERNAME' | translate }}</li><!-- 成員名稱 -->
            <li class="viewNum">{{ 'IN_OLINE_TIME' | translate }}</li><!-- 在線時間 -->
        </ul>
        <ul class="conUl">
            <li class="thisPostTime">
                <div class="forRWDUT">NO.</div>
                <div>１</div>
            </li>
            <li class="postCon">
                <div class="forRWDUT">{{ 'MEMBERNAME' | translate }}</div>
                user name
            </li>
            <li class="viewNum">
               <div class="forRWDUT">{{ 'IN_OLINE_TIME' | translate }}</div>
                75 min
            </li>
        </ul>
    </div>
    
    <div class="dbDT forImg viewImg">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_VIEWIMG' | translate }}</div><!-- 圖片觀看次數 -->
        <ul class="titleUl">
            <li class="thisPostTime">{{ 'POST_TIME' | translate }}</li><!--發佈時間-->
            <li class="postCon">{{ 'THIS_ATC' | translate }}</li><!--帖文-->
            <li class="postCon">{{ 'IMG' | translate }}</li><!--圖片-->
            <li class="viewNum">{{ 'VIEWNUMBER' | translate }}</li><!--觀看次數-->
        </ul>

        <ul ng-repeat="(key_this_view_image,this_view_image) in fan_view.image.allday" class="conUl">
            <li class="thisPostTime">
               <div class="forRWDUT">{{ 'POST_TIME' | translate }}</div>
                <div class="day">{{this_view_image.post_date}}</div>
            </li>
            <li class="postCon" ng-if="this_view_image.board_text !=null "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div ng-bind-html="this_view_image.board_text | nl2br | linkify "></div>
            </li>
            <li class="postCon" ng-if="this_view_image.board_text ==null ">
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div>No Data</div>
            </li>
            <li class="postCon">
               <div class="forRWDUT">{{ 'IMG' | translate }}</div>
                <img ng-src="upload/fan/{{this_view_image.attached_name}}" alt="">
            </li>
            <li class="viewNum">
                <div class="forRWDUT">{{ 'VIEWNUMBER' | translate }}</div>
                {{this_view_image.count}}
            </li>
        </ul>


    </div>
    
    <div class="dbDT forImg forTop50Img">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_TOP50IMG' | translate }}</div><!-- 最多觀看的圖片(前五十名) -->
        <ul class="tableUl">
            <li ng-click="top50BtnClick($event,'image',3)" class="top50Btn nowThis">{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}</li><!--週--> 
            <li ng-click="top50BtnClick($event,'image',7)" class="top50Btn">{{ 'CLASS_APPRAISE_TIME_MONTH' | translate }}</li> <!--月-->
            <li ng-click="top50BtnClick($event,'image',30)" class="top50Btn">{{ 'SEASON' | translate }}</li> <!--季-->
        </ul>
        <ul class="titleUl">
            <li class="thisPostTime">{{ 'POST_TIME' | translate }}</li><!--發佈時間-->
            <li class="postCon">{{ 'THIS_ATC' | translate }}</li><!--帖文-->
            <li class="postCon">{{ 'IMG' | translate }}</li><!--圖片-->
            <li class="viewNum">{{ 'VIEWNUMBER' | translate }}</li><!--觀看次數-->
        </ul>
        <ul ng-repeat="(key_this_view_image,this_view_image) in fan_view_image_df" class="conUl">
            <li class="thisPostTime">
                <div class="forRWDUT">{{ 'POST_TIME' | translate }}</div>
                <div class="day">{{this_view_image.post_date}}</div>
            </li>
            <li class="postCon" ng-if="this_view_image.board_text !=null "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div ng-bind-html="this_view_image.board_text | nl2br | linkify "></div>
            </li>
            <li class="postCon" ng-if="this_view_image.board_text ==null ">
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div>No Data</div>
            </li>
            <li class="postCon"><img ng-src="upload/fan/{{this_view_image.attached_name}}" alt="">
                <div class="forRWDUT">{{ 'IMG' | translate }}</div>
            </li>
            <li class="viewNum">
               <div class="forRWDUT">{{ 'VIEWNUMBER' | translate }}</div>
                {{this_view_image.count}}
            </li>
        </ul>

    </div>
    
    <div class="dbDT forText viewText">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_VIEWTEXT' | translate }}</div><!-- 文章觀看次數 -->
        <ul class="titleUl">
            <li class="thisPostTime">{{ 'POST_TIME' | translate }}</li><!--發佈時間-->
            <li class="postCon">{{ 'THIS_ATC' | translate }}</li><!--帖文-->
            <li class="viewNum">{{ 'VIEWNUMBER' | translate }}</li><!--觀看次數-->
        </ul>

        <ul ng-repeat="(key_this_view_article,this_view_article) in fan_view.article.allday" class="conUl">
            <li class="thisPostTime">
               <div class="forRWDUT">{{ 'POST_TIME' | translate }}</div>
                <div class="day">{{this_view_article.post_date}}</div>
            </li>
            <li class="postCon" ng-if="this_view_article.text !='null' " >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div ng-bind-html="this_view_article.text | nl2br | linkify " ></div>
            </li>
            <li class="postCon" ng-if="this_view_article.text =='null' "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div>No Data</div>
            </li>
            <li class="viewNum">
                <div class="forRWDUT">{{ 'VIEWNUMBER' | translate }}</div>
                {{this_view_article.count}}
            </li>
        </ul>

    </div>
    
    <div class="dbDT forText forTop50Text">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_TOP50TEXT' | translate }}</div><!-- 最多觀看的文章(前五十名) -->
        <ul class="tableUl">
            <li ng-click="top50BtnClick($event,'article',3)" class="top50Btn nowThis">{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}</li><!--週--> 
            <li ng-click="top50BtnClick($event,'article',7)" class="top50Btn">{{ 'CLASS_APPRAISE_TIME_MONTH' | translate }}</li> <!--月-->
            <li ng-click="top50BtnClick($event,'article',30)" class="top50Btn">{{ 'SEASON' | translate }}</li> <!--季-->
        </ul>
        <ul class="titleUl">
            <li class="thisPostTime">{{ 'POST_TIME' | translate }}</li><!--發佈時間-->
            <li class="postCon">{{ 'THIS_ATC' | translate }}</li><!--帖文-->
            <li class="viewNum">{{ 'VIEWNUMBER' | translate }}</li><!--觀看次數-->
        </ul>
        <ul ng-repeat="(key_this_view_article,this_view_article) in fan_view_article_df" class="conUl">
            <li class="thisPostTime">
                <div class="forRWDUT">{{ 'POST_TIME' | translate }}</div>
                <div class="day">{{this_view_article.post_date}}</div><div class="time"></div>
            </li>
            <li class="postCon" ng-if="this_view_article.text !='null' "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div ng-bind-html="this_view_article.text | nl2br | linkify "></div>
            </li>
            <li class="postCon" ng-if="this_view_article.text =='null' "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div>No Data</div>
            </li>
            <li class="viewNum">
                <div class="forRWDUT">{{ 'VIEWNUMBER' | translate }}</div>
                {{this_view_article.count}}
            </li>
        </ul>

    </div>
    
    <div class="dbDT forVideo viewVideo">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_VIEWVIDEO' | translate }}</div><!-- 影片觀看次數 -->
        <ul class="titleUl">
            <li class="thisPostTime">{{ 'POST_TIME' | translate }}</li><!--發佈時間-->
            <li class="postCon">{{ 'THIS_ATC' | translate }}</li><!--帖文-->
            <li class="postCon">{{ 'TEACHER_TEXT_VIDEO' | translate }}</li><!--影片-->
            <li class="viewNum">{{ 'VIEWNUMBER' | translate }}</li><!--觀看次數--> 
        </ul>

        <ul ng-repeat="(key_this_view_video,this_view_video) in fan_view.video.allday" class="conUl">
            <li class="thisPostTime">
                <div class="forRWDUT">{{ 'POST_TIME' | translate }}</div>
                <div class="day">{{this_view_video.post_date}}</div>
            </li>
            <li class="postCon" ng-if="this_view_video.text !='null' " >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div ng-bind-html="this_view_video.text | nl2br | linkify "></div>
            </li>
            <li class="postCon" ng-if="this_view_video.text =='null' "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div>No Data</div>
            </li>
            <li class="postCon">
                <div class="forRWDUT">{{ 'TEACHER_TEXT_VIDEO' | translate }}</div>
                <iframe ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_view_video.attached_name)}}" frameborder="0" allowfullscreen></iframe>
            </li>
            <li class="viewNum">
                <div class="forRWDUT">{{ 'VIEWNUMBER' | translate }}</div>
                {{this_view_video.count}}
            </li>
        </ul>

    </div>
    
    <div class="dbDT forVideo top50Video">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_TOP50VIDEO' | translate }}</div><!-- 最多觀看的影片(前五十名) -->
        <ul class="tableUl">
            <li ng-click="top50BtnClick($event,'video',3)" class="top50Btn nowThis">{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}</li><!--週--> 
            <li ng-click="top50BtnClick($event,'video',7)" class="top50Btn">{{ 'CLASS_APPRAISE_TIME_MONTH' | translate }}</li> <!--月-->
            <li ng-click="top50BtnClick($event,'video',30)" class="top50Btn">{{ 'SEASON' | translate }}</li> <!--季-->
        </ul>
        <ul class="titleUl">
            <li class="thisPostTime">{{ 'POST_TIME' | translate }}</li><!--發佈時間-->
            <li class="postCon">{{ 'THIS_ATC' | translate }}</li><!--帖文-->
            <li class="postCon">{{ 'TEACHER_TEXT_VIDEO' | translate }}</li><!--影片-->
            <li class="viewNum">{{ 'VIEWNUMBER' | translate }}</li><!--觀看次數--> 
        </ul>
        <ul ng-repeat="(key_this_view_video,this_view_video) in fan_view_video_df" class="conUl">
            <li class="thisPostTime">
                <div class="forRWDUT">{{ 'POST_TIME' | translate }}</div>
                <div class="day">{{this_view_video.post_date}}</div>
            </li>
            <li class="postCon" ng-if="this_view_video.text !='null' " >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div ng-bind-html="this_view_video.text | nl2br | linkify "></div>
            </li>
            <li class="postCon" ng-if="this_view_video.text =='null' "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div>No Data</div>
            </li>
            <li class="postCon">
                <div class="forRWDUT">{{ 'TEACHER_TEXT_VIDEO' | translate }}</div>
                <iframe ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_view_video.attached_name)}}" frameborder="0" allowfullscreen></iframe>
            </li>
            <li class="viewNum">
                <div class="forRWDUT">{{ 'VIEWNUMBER' | translate }}</div>
                {{this_view_video.count}}
            </li>
        </ul>
    </div>
    
    <div class="dbDT forLive viewLive">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_VIEWLIVE' | translate }}</div><!-- 直播觀看次數 -->
        <ul class="titleUl">
            <li class="thisPostTime">{{ 'POST_TIME' | translate }}</li><!--發佈時間-->
            <li class="postCon">{{ 'THIS_ATC' | translate }}</li><!--帖文-->
            <li class="postCon">{{ 'TEACHER_TEXT_VIDEO' | translate }}</li><!--影片-->
            <li class="viewNum">{{ 'VIEWNUMBER' | translate }}</li><!--觀看次數--> 
        </ul>

        <ul ng-repeat="(key_this_view_live,this_view_live) in fan_view.live.allday" class="conUl">
            <li class="thisPostTime">
                <div class="forRWDUT">{{ 'POST_TIME' | translate }}</div>
                <div class="day">{{this_view_video.post_date}}</div>
            </li>
            <li class="postCon" ng-if="this_view_live.text !='null' " >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div ng-bind-html="this_view_live.text | nl2br | linkify "></div>
            </li>
            <li class="postCon" ng-if="this_view_live.text =='null' "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div>No Data</div>
            </li>
            <li class="postCon">
               <div class="forRWDUT">{{ 'TEACHER_TEXT_VIDEO' | translate }}</div>
                <iframe ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_view_live.attached_name)}}" frameborder="0" allowfullscreen></iframe>
            </li>
            <li class="viewNum">
                <div class="forRWDUT">{{ 'VIEWNUMBER' | translate }}</div>
                {{this_view_live.count}}
            </li>
        </ul>

    </div>
    
    <div class="dbDT forLive top50Live">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'COMM_TOP50LIVE' | translate }}</div><!-- 最多觀看的直播(前五十名) -->
        <ul class="tableUl">
            <li ng-click="top50BtnClick($event)" class="top50Btn nowThis">{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}</li><!--週--> 
            <li ng-click="top50BtnClick($event)" class="top50Btn">{{ 'CLASS_APPRAISE_TIME_MONTH' | translate }}</li> <!--月-->
            <li ng-click="top50BtnClick($event)" class="top50Btn">{{ 'SEASON' | translate }}</li> <!--季-->
        </ul>
        
        <ul class="titleUl">
            <li class="thisPostTime">{{ 'POST_TIME' | translate }}</li><!--發佈時間-->
            <li class="postCon">{{ 'THIS_ATC' | translate }}</li><!--帖文-->
            <li class="postCon">{{ 'TEACHER_TEXT_VIDEO' | translate }}</li><!--影片-->
            <li class="viewNum">{{ 'VIEWNUMBER' | translate }}</li><!--觀看次數--> 
        </ul>
        
        <ul ng-repeat="(key_this_view_live,this_view_live) in fan_view_live_df" class="conUl">
            <li class="thisPostTime">
                <div class="forRWDUT">{{ 'POST_TIME' | translate }}</div>
                <div class="day">{{this_view_video.post_date}}</div>
            </li>
            <li class="postCon" ng-if="this_view_live.text !='null' " >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div ng-bind-html="this_view_live.text | nl2br | linkify "></div>
            </li>
            <li class="postCon" ng-if="this_view_live.text =='null' "  >
                <div class="forRWDUT">{{ 'THIS_ATC' | translate }}</div>
                <div>No Data</div>
            </li>
            <li class="postCon">
                <div class="forRWDUT">{{ 'TEACHER_TEXT_VIDEO' | translate }}</div>
                <iframe ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_view_live.attached_name)}}" frameborder="0" allowfullscreen></iframe>
            </li>
            <li class="viewNum">
                <div class="forRWDUT">{{ 'VIEWNUMBER' | translate }}</div>
                {{this_view_live.count}}
            </li>
        </ul>
    </div>
    
    <div class="dbDT allBookingList">
        <div class="dbTDTitle bc_BR tc_WS">{{ 'BOOKINGLIST' | translate }}</div><!-- 預約紀錄 -->

        <ul class="titleUl">
            <li class="thisPostTime">NO.</li>
            <li class="postCon">{{ 'BOOKINGUSER' | translate }}</li><!-- 預約者 -->
            <li class="viewNum">{{ 'BOOKINGFREQUENCY' | translate }}</li><!-- 預約次數 -->
        </ul>
        <ul ng-repeat="(key_this_view_booking,this_view_booking) in fan_view.booking.allday" class="conUl">
            <li class="thisPostTime">
                <div class="forRWDUT">NO.</div>
                <div>{{key_this_view_booking +1}}</div>
            </li>
            <li class="postCon">
                <div class="forRWDUT">{{ 'MEMBERNAME' | translate }}</div>
                {{this_view_booking.nick_name}}
            </li>
            <li class="viewNum">
               <div class="forRWDUT">{{ 'IN_OLINE_TIME' | translate }}</div>
                {{this_view_booking.count}}
            </li>
        </ul>
    </div>

</div>
