<div class="mid" ng-controller="CommBoard">

    <div class="communityBtns bor_b">
        <div>
            <button ng-if="seedata.data[0].f_backend.type_id >= 2 && seedata.data[0].f_backend.approval =='Y'" ng-click="establishPopUp()" class="bc_BL tc_WS bor_s_1">{{ 'CREAT_COMMUNITY' | translate }}</button>
        </div>
    </div>

    <div ng-if="fan_manage_list.length !='0'" class="manage bor_s_1">
        <div class="title bor_b">{{ 'MANAGE_COMMUNITY' | translate }}</div>
        <div ng-repeat="(key_this_fan_manage , this_fan_manage) in fan_manage_list track by $index" class="youCommunityBox">
            <div class="commPic">
                <a href="Fan.FanText/{{this_fan_manage.id}}">
                    <div class="sd_box sd_3"><img src="images/shadow.png" alt=""></div><img src="upload/fan/{{this_fan_manage.image}}" alt=""></a>
            </div>
            <div class="commName"><a href="Fan.FanText/{{this_fan_manage.id}}">{{this_fan_manage.nick_name}}</a></div>
            <div ng-if="this_fan_manage.count ==null" class="commMsg"><a href="Fan.FanMange/{{this_fan_manage.id}}">(0{{ 'WAITING_JOIN' | translate }})</a></div>
            <div ng-if="this_fan_manage.count !=null" class="commMsg"><a href="Fan.FanMange/{{this_fan_manage.id}}">({{this_fan_manage.count}}{{ 'WAITING_JOIN' | translate }})</a></div>
            <div ng-if="this_fan_manage.count ==null" class="commMsg"><a href="Fan.FanReport/{{this_fan_manage.id}}">{{ 'COMM_REPORT' | translate }}</a></div>
        </div>
    </div>

    <div ng-if="fan_myfanlist.length !='0'" class="yourCommunity bor_s_1">
        <div class="title bor_b">{{ 'YOU_JOIN_COMMUNITY' | translate }}</div>
        <div ng-repeat="(key_this_fan_myfanlist , this_fan_myfanlist) in fan_myfanlist track by $index" class="youCommunityBox">
            <div class="commPic">
                <a href="Fan.FanText/{{this_fan_myfanlist.id}}">
                    <div class="sd_box"><img src="images/shadow.png" alt=""></div><img src="upload/fan/{{this_fan_myfanlist.image}}" alt=""></a>
            </div>
            <div class="commName"><a href="Fan.FanText/{{this_fan_myfanlist.id}}">{{this_fan_myfanlist.nick_name}}</a></div>
        </div>
    </div>
    <!-- 沒有加入社群 -->
     <div ng-if="fan_myfanlist.length =='0'" class="yourCommunity bor_s_1">
        <div class="title bor_b">{{ 'YOU_JOIN_COMMUNITY' | translate }}</div>
        <div>
            <div class="commName noJoinFan "><i class="fa fa-users" aria-hidden="true"></i> {{ 'NOJOINFAN' | translate }}</div>
        </div>
    </div>
    <!-- end沒有加入社群 -->
    <!--new fan-->
    <div class="communityPopUp shadow_s_1">
        <div ng-click="colsePopUp()" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
        
        <div class="establishCommunity bor_s_1">
           
            <div class="title bc_BR tc_WS  bor_b">{{ 'CREAT_COMMUNITY' | translate }} <i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i></div>
            
            <div class="communityKeyBox">
                <span class="subTitle">{{ 'EX_FAN_TYPE' | translate }}</span>
                <div class="exSel">
                   {{ 'FAN_TYPE' | translate }}
                    <select name="type" ng-model="NewFanData.type">
                        <option ng-selected="1"  value="school">{{ 'FAN_TYPE_SCHOOL' | translate }}</option>
                        <option  value="department">{{ 'FAN_TYPE_DEPART' | translate }}</option>
                        <option  value="community">{{ 'FAN_TYPE_COMMUNITY' | translate }}</option>
                    </select>
                </div>
            </div>
           
            
            <div class="communityKeyBox">
                <span class="subTitle">{{ 'GIVE_COMMUNITY_NAME' | translate }}</span>
                <input ng-model="NewFanData.Name" type="text" title="輸入名稱，例如 : 學校名稱。">
            </div>

            <div class="communityKeyBox">
                <span class="subTitle">{{ 'ADDREVIATION_NAME' | translate }}</span>
                <div class="exText">
                    {{ 'EX_ADDREVIATION_NAME' | translate }}
                </div>
                <input ng-model="NewFanData.fuzzyName" type="text" title="輸入縮寫，例如 : US,USA,CH,CHN">
            </div>

            <div class="communityKeyBox">
                <span class="subTitle">{{ 'ABOUT_COMMUNITY' | translate }}</span>
                <div class="exText">
                    {{ 'EX_ABOUT_COMMUNITY' | translate }}
                </div>
                <textarea ng-model="NewFanData.Text" title="建立一些資訊吧。" name="" id=""></textarea>
            </div>

            <div class="btns">
                <button ng-click="CreateFan()" class="bc_BR tc_WS">{{ 'CREATE' | translate }}</button>
            </div>
        </div>


    </div>

</div>