<div class="mid">
    <!-- search
    <div class="search-box">
        <form ng-submit="submit(data)">
            <div>
                <input id="text" ng-model="data.text" name="text" type="text">
            </div>

            <div class="time-search"><i class="fa fa-calendar" aria-hidden="true"></i>
                <input id="this_day" ng-model="data.this_day" name="this_day" type="text" value="" />
            </div>
            <button class="bc_BR tc_WS" ng-click="Search(data)" type="button">{{ 'VIEW_LIST_SEARCH_BUTTON' | translate }}</button>
        </form>
    </div>
    -->
    <div class="all-teacher-box">
        <div class="allSearchBox">
            <div class="friendBox schoolGroup" ng-repeat="(key_this_fan_list,this_fan_list) in fan_list">
                <a class="imgBoxA" href="Fan.FanText/{{this_fan_list.id}}">
                   <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                    <img class="t_pic" src="upload/fan/{{this_fan_list.image}}" alt="">
                </a>
                <div style="display:none;" class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="Fan.FanText/{{this_fan_list.id}}">
                    <div class="name">{{this_fan_list.nick_name}}</div>
                </a>
            </div>
        </div>

    </div>
    <div class="more-btn">{{ 'VIEW_LIST_MORE' | translate }}</div>
</div>
