/*-------------------------------------------------------------------------------------*/
/*----------------------------------        共用設定       -----------------------------*/
/*-------------------------------------------------------------------------------------*/

body , input , button { font-family: Arial,'sans-serif','微軟正黑體' !important; margin: 0; }
img { width: 100%; border-radius: 3px; }
ul { list-style: none; padding: 0; margin: 0; }
i.fa.fa-facebook-square { color: #3b5998; }
i.fa.fa-twitter-square { color: #1da1f2; }
i.fa.fa-google { color: #dd5144; }
i.fa.fa-weixin { color: #00cf0d; }
i.fa.fa-envelope-square { color: #de4444;}
.community .fa , button.register-btn , ul.function-menu li , .video-box , .con-box-1 .btn a { transition: 0.25s ease; -o-transition: 0.25s ease; -webkit-transition: 0.25s ease; }
.loading { width: 100%; height: 100%; position: absolute !important; display: none; }
.uil-ring-alt { position: fixed; top: 40%; left: 45%;}
#ui-datepicker-div {display: none;}
.bc_BR { background: #c82828; }
.bc_BR2 { background: #b21919; }
button.bc_BR:hover { background: #1c110a; }
.tc_BR { color: #c82828; }
.bc_WS { background: #f7f4f3; }
.tc_WS , .tc_WS a { color: #f7f4f3; }
.bc_BL { background: #343442; }
.tc_BL { color: #343442; }
.bc_BS { background: #191716; }
.tc_BS { color: #191716; }
.bc_WR { background: #c5050c; }
.tc_WR { color: #c5050c; }
.bc_YS { background:  rgba(249, 245, 238, 1); }
.msg_bc { background: #960005; }
body a:focus { color: inherit; }
.bc_CLOSE { background: #bebebe; }
.bc_CLOSE:hover { background: #575555; }
.pb_bc { background: #FFF; }
body select { font-weight: bold; font: Arial,'sans-serif','微軟正黑體'; font-size: 12px; }
.blur { color: #6d6d6d !important; font-size: 80% !important; line-height: 80%; }
.shadowB { box-shadow: 0 1px 3px 0 #797979; }
.shadow_s_1 { box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.26); }
.shadowInset { box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5) inset; }
.float-right { float: right !important; }
.float_l { float: left; }
.left { width: 25%; margin-top: 20px; margin-left: 10%; float: left;}
.right { float: right; margin-top: 20px; width: 49%; margin-right: 10%;}
.float_r { float: right; }
.mid .modify_s_1 { width: 80%; }
.vaaccount-box { display: none;}
.vaaccount-box .general .email { margin-top: 0; }
.vaaccount-box .general .email.mailVER { margin-bottom: 5px; }
.general .verText span { width: auto; float: initial; display: initial;}
.user-date div.pVerBox input { width: 20%; margin-right: 10px; border: solid 1px #b3b3b3; border-radius: 3px;}
.verStep { margin-bottom: 15px; }
.mid { min-height: 79vh }
a , button , .class_index .class_wrap .class_menu:hover > div , .share .fa , .share span , .hover { transition: 0.25s ease; -o-transition: 0.25s ease; -webkit-transition: 0.25s ease; }
button { border: none;  color: #fff; cursor: pointer;}
button:hover { background: #353535; }
input.blur { color: #969696;}
.b_c_1 {  }
.b_c_2 { background: #5a5a5a; }
.b_c_3 { background: #655f5f; }
.t_c_white { color: #fff; }
.bor_s_1 { border-radius: 3px; border: solid 1px #a09b9b; }
.bor_b { border-bottom: solid 1px #a09b9b; }
.bor_b2 { border-bottom: solid 1px #dbdbdb; }
.hover { cursor: pointer; }
.hover:hover { background: #353535 }
i.fa.fa-star { color: #dd883f;}
a { cursor: pointer; }
.button {  text-align: center; padding: 5px 0; cursor: pointer; }
.button:hover { background: #353535; }
.u_b input { color: #000;font-size: 11px;width: 100%; }


/*---------  error404  ---------*/
.mid.error404.ng-scope { display: flex; align-items: center; justify-content: center;}

.loadingImg { width: 100%; height: 90vh; display: flex; align-items: center; justify-content: center;}
.loadingImg img {
  display: block !important;
  position:absolute;
  z-index:2;
  -webkit-animation:box .8s infinite ; 
}
@-webkit-keyframes box{
  0%{
    top:50px;
  }
  20%{
    border-radius:2px;  /*從 20% 的地方才開始變形*/
  }
  50%{
    top:80px; 
    border-bottom-right-radius:25px;
  }
  80%{
    border-radius:2px;  /*到 80% 的地方恢復原狀*/
  }
  100%{
    top:50px;
  }
}
.loadingImg:after{
  position:absolute;
  z-index:1;
  top:128px;
  left:52px;
  width:44px;
  height:3px;
  background:#eaeaea;
  border-radius:100%;
  -webkit-animation:shadow .8s infinite ; 
}
@-webkit-keyframes shadow{
  0%,100%{
    left:54px;
    width:40px;
    background:#eaeaea;
  }
  50%{
    top:126px;
    left:50px;   /*讓陰影保持在原位*/
    width:50px;
    height:7px;
    background:#eee;
  }
}

/*-------------------------------------------------------------------------------------*/
/*-----------------------------------      header      --------------------------------*/
/*-------------------------------------------------------------------------------------*/
body { padding-top: 6vh; overflow-x: hidden; }
header { background: rgb(243, 241, 233); float: left; width: 100%; position: fixed; top:0; z-index: 16; height: 6.5vh; }
header ul.head-top { list-style: none; padding: 0; margin: 0; height: 100%; float: left; width: 100%; position: relative; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4); }
header ul.head-top li { float: left; height: 100%;display: flex;align-items: center;justify-content: center; }
header ul.head-top .logo { width: 10%; margin: 0 1% 0 4%; position: relative;}
header ul.head-top .logo a img:nth-child(2) { display: none;}
header ul.head-top .logo a:hover img:nth-child(1) { display: none;}
header ul.head-top .logo a:hover img:nth-child(2) { display: -webkit-inline-box;}
header ul.head-top li img { width: 70%;}
header ul.head-top li.search { width: 38%;}
header ul.head-top li.search div { width: 100%; border-radius: 3px; border: solid 1px #a5a5a5; overflow: hidden; background: #1c110a; height: 55%; }
header ul.head-top li.search div form { height: 100%; }
header ul.head-top li.search input { border: none; border-radius: 0; height: 100%; width: 85%; color: #1c110a; padding: 0 5px; box-sizing: border-box;}
header ul.head-top li.search div button { width: 15%; height: 100%; float: right; text-align: center; padding: 3.5px 0; color: #fff; font-size: 14px; border: none; background: #1c110a;}
header ul.head-top li.member { float: right; cursor: pointer; width: 8%; text-align: center; }
header ul.head-top li.member:hover { background: #1c110a; }
header ul.head-top li.lang { float: right; cursor: pointer; width: 8%; text-align: center; border-left: solid 1px rgba(0, 0, 0, 0.14); background: #fff; color: #343442; }
header ul.head-top li.lang:hover { background: #eee; }
header ul.head-top li.lang .fa-caret-down { font-size: 20px; margin-left: 3px; }
header ul.head-top li.btns { width: 8%;  float: right; }
header ul.head-top li.btns a { text-decoration: none; width: 100%; display: flex;align-items: center;justify-content: center; text-align: center; height: 100%; }
header ul.head-top li.btns a:hover { background: #1c110a; color: #f7f4f3;  }
ul.lang-box { width: 8%; list-style: none; position: absolute; right: 0px; text-align: center; top: 53px; border: solid 1px #c3c3c3; border-radius: 0 0 3px 3px; padding: 0; display: none; z-index: 10;}
ul.lang-box li { float: left; padding: 9px 0; width: 100%; border-bottom: solid 1px #c3c3c3; background: rgb(255, 255, 255); color: #0c0c0c; cursor: pointer; }
ul.lang-box li:hover { background: #1c110a; color: #fff;}
ul.lang-box li.last { border-bottom: none;}
header ul.head-top li.fr { max-width: 45%; float: right; padding: 0px 10px; text-align: center; box-sizing: border-box; }
header ul.head-top li.fr a { float: right; text-decoration: none; color: #fff; background: rgba(0, 0, 0, 0.5); padding: 1px 5px; border-radius: 3px; font-size: 13px; margin: 17px 0 15px 0; }
header ul.head-top li.fr a.gotomypage { background: none; padding: 0px 10px; font-size: 14px; margin: 0 2px 0 5px; float: left;  }
header ul.head-top li.fr a.gotomypage:hover { background: rgba(0, 0, 0, 0.5); } 
header ul.head-top li.fr .ng-binding { float: right; }
header ul.head-top li.fr span { float: right; padding: 17px 0px 15px 0;}
header ul.head-top li.identity { float: right; }
header ul div.identity-box { position: relative; float: right;}
header ul div.identity-box .btn { padding: 0.5px 5px 2px 5px; background: #313131; color: #fff; font-size: 12px; border-radius: 0 3px 3px 0; margin: 17px 10px 17px 0; cursor: pointer; float: right;}
header ul div.identity-box .btn:hover { background: #000; }
header ul div.identity-box ul { position: absolute; right: 0; top: 39px; z-index: 1; padding-right: 10px; box-sizing: border-box; display: none; width: 100%; }
header ul div.identity-box ul li { width: 100%; float: left; margin-bottom: 3px; }
header ul.head-top div.identity-box ul li a { padding: 0; width: 100%; margin: 0;  }
header ul div.identity-box ul li button { width: 100%; }
header ul.head-top li.fr span div { float: left;}
header ul.head-top li.fr span div > div {font-size: 13px; padding: 2px 5px;  color: #fff; margin-top: -1px; border-radius: 3px 0 0 3px;}
/*-------------------------------------------------------------------------------------*/
/*-----------------------------------      index      ---------------------------------*/
/*-------------------------------------------------------------------------------------*/

.index-title { width: 100%; text-align: center; margin: 10px 0; font-size: 25px; font-weight: bold; color: ##000;}
/*--  banner  --*/
.index-banner { position: relative; width: 100%; background: #000; background-size: cover; max-height: 40vw; overflow: hidden; touch-action: pan-y; }
.bannetPNbtn { position: absolute;font-size: 3em;padding: 0 20px;height: 100%;display: flex;align-items: center;z-index: 10; cursor: pointer; color: #fff; }
.bannetPNbtn:hover { background: rgba(0, 0, 0, 0.3); }
.bannetPNbtn.prevBtn { left: 0; text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3); }
.bannetPNbtn.nextBtn { right: 0; text-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3); }
.index-banner > div.btn { position: absolute; z-index: 2; width: 100%; text-align: center; bottom: 20px;}
.index-banner > div.btn span { cursor: pointer; color: #000; font-size: 40px; margin: 0 3px; text-shadow: 0 0px 2px #fff; }
.index-banner > div.btn span:hover { color: #dd883f; }
.index-banner > div.btn span.now-img { color: #dd883f; }
.index-banner .bg-box { border-bottom: solid 1px #c7c7c7; width: 300%; }
.index-banner .bg-box .bannerImgBox { top:0; left: 0; border-radius: 0; width: 33.3333%; float: left; position: relative ; }
.index-banner .bg-box .bannerImgBox .slogan { display: flex;align-items: center;justify-content: center; width: 50%;height: 30%;right: 0;top: 3%;position: absolute;text-align: center;color: #4d4d4d;border-radius: 3px 0 0 3px;box-shadow: -50vw 0 100px -100px rgba(255, 255, 255, 0.7) inset; border-bottom: solid 2px rgba(0, 0, 0, 0.05);border-top: solid 2px rgba(0, 0, 0, 0.05) }
.index-banner .bg-box .bannerImgBox .slogan div {font-size: 2.5em; width: 100%;text-align: right;padding-right: 10%; letter-spacing: 0.3vw; }
.index-banner .bg-box .bannerImgBox .slogan .subTitle { font-weight: bold;font-size: 3em;display: block ; letter-spacing: 10px; }
.sd_box { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2;opacity: 0.4; }
.sd_box img { position: absolute;bottom:0; width: 100%; opacity: 1; height: 60%; }
.sd_1 { position: absolute;top: 0;z-index: 1; bottom: 0; }
.sd_2 { box-shadow: 0 -50px 50px -60px #000 inset; z-index: 2; border: solid 2px #fff;}
.sd_3 { box-shadow: 0 -30px 30px -50px #000 inset;}
.sd_4 { box-shadow: 0 -50px 30px -50px #000 inset;}
.bannerBtns { box-sizing: border-box; position: absolute; z-index: 3; width: 100%; text-align: center; bottom: 3vw; font-size: 2em; color: #fff; text-shadow: 0 0 1px #000; }
.bannerBtns > div { float: initial; display: -webkit-inline-box; width: initial; cursor: pointer; padding: 0 7px;}
.bannerBtns > div:hover { color: #960005; }
.bannerBtns > div.nowThis { color: #960005; }
/*-- index-video --*/
.sd_box.sd_2 { box-shadow: none; position: absolute ; }
.video-box .sd_box img { position: absolute;bottom: 0;width: 100%;height: 50%;top: initial ;opacity: 0.6; }
.index-video { width: 100%; float: left; overflow: hidden; }
.video-wrap { width: 400%;}
.video-wrap .video-group { min-width: 100%;float: left;height: 20vw; }
.video-wrap .video-group .video-box { width: 33vw; height: 0; box-sizing: border-box; position: relative; overflow: hidden; padding-bottom: 20vw; background: #fff; }
.video-wrap .video-group .video-box:hover > .paly-icon .fa { background: #fff; color: #c82828; border: solid 1px #7d1128;}
.video-wrap .video-group .video-box .paly-icon { position: absolute; text-align: center; width: 100%; font-size: 2em; top: 40%; }
.video-wrap .video-group .video-box .paly-icon .fa { padding: 10px 10px 10px 16px; background: #c82828; color: #fff; border-radius: 50%; border: solid 1px #fff; box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.19); transition: 0.25s ease; -o-transition: 0.25s ease; -webkit-transition: 0.25s ease; }
.video-wrap .video-group .video-box .video-name { width: 100%;top: 1vw;position: absolute;left: 0;padding: 0.6vw 5%;box-shadow: 20em 0 50px -50px rgba(255, 255, 255, 0.7) inset;font-weight: 500;}
.index-video .btnG { width: 100%; text-align: center; font-size: 30px; margin: 10px 0; float: left;}
.index-video .btnG span { cursor: pointer; margin: 0 10px;}
.index-video .btnG .now-group { color: #c82828; }
.index-video .btnG span:hover { color: #c82828; }
/*-- index-msg-box --*/
.index-msg-box { width: 100%; float: left; border-bottom: solid 1px #dbdbdb; height: 32.5vw; overflow: hidden; }
.index-msg-box.idea { border-top: solid 1px #dbdbdb; background-size: cover; background-attachment: fixed; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset; }
.index-msg-box.idea .con-box-1 { background: #c82828; }
.index-msg-box.idea .con-box-2 { background: rgba(249, 245, 238, 0.9); }
.index-msg-box.teachers { background: url(images/three_bg.png)50% 35%; background-size: cover; background-attachment: fixed; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset; }
.con-box-1 { width: 30%; height: 100%; box-sizing: border-box; background: #343442; position: relative;}
.con-box-1.f-right { float: right; border-left: solid 1px #dbdbdb; position: relative;}
.con-box-1.f-right .more { width: 100%; margin:5% 10%; position: absolute; bottom: 0; color: #fff; cursor: pointer;}
.con-box-1.f-right .more:hover { color: #ffe203; }
.con-box-1.f-left { float: left; border-right: solid 1px #dbdbdb; }
.con-box-2 { width: 70%; height: 100%; float: left; overflow: hidden; word-break: break-word; background: #fff; position: relative;}
.index-msg-box span.title { width: 100%; font-size: 2em; font-weight: bold; color: #fff; text-align: center; display: block; margin: 3vw 0 2vw 0; max-height: 95%; overflow: hidden; }
.index-msg-box h2 { font-size: 2em; font-weight: bold; text-align: center; margin: 3vw 0 2vw 0;}
.con-box-1 ul { padding: 0 10%;}
.con-box-1 ul li { margin-bottom: 10px; border-bottom: solid 0.5px #dbdbdb; padding-bottom: 5px;}
.con-box-2 p { float: left; width: 86%; margin: 0 5%; padding: 20px; box-sizing: content-box; text-align: center; }
.index-msg-box span.sub-title { width: 100%; display: block; padding: 0 20px; box-sizing: border-box; color: #fff; font-weight: 500; font-size: 16px; text-align: center;}
.con-box-1 p { padding: 20px; width: 100%; box-sizing: border-box; font-size: 14px; color: #fff;}
.con-box-1 .btn { padding: 20px; width: 100%; float: left; box-sizing: border-box;}
.con-box-1 .btn a { text-decoration: none; padding: 10px 25px; border: solid 1px #fff; border-radius: 3px; color: #fff;}
.con-box-1 .btn a:hover { background: rgba(255, 255, 255, 0.15); }
.teacher-img { width: 100%; float: left; padding: 1% 5%; box-sizing: border-box; max-height: 94%; overflow: hidden; }
.teacher-img > div { width: 20%; margin: 1% 0; float: left; padding: 0 2%; box-sizing: border-box; position: relative;}
.teacher-img > div .sd_box img { border: none;padding: 0;box-shadow: none;opacity: 0.1;height: 40%; }
.listBox .sd_box img { border: none;padding: 0;box-shadow: none;opacity: 0.1;height: 40%; }
.teacher-img img { box-shadow: 0 0 0 1px #ccc; padding: 10px;background: #fff; box-sizing: border-box; border-radius: 0; }
ul.booking-msg-box .teacher-img img { padding: 1px; }
.index-msg-box a { text-decoration: none; color: #fff; position: relative; display: block; }
.teachers .teacher-img a { text-decoration: none; color: #fff; position: relative; display: block; border: solid 1px #b3b3b3; border-radius:3px;}
.teachers .teacher-img a .schoolName { text-align: center ; color: #000; padding: 3px 5px; height: 3.5vw;font-size: 13px; display: flex;align-items: center;justify-content: center; }
.teachers .teacher-img a:hover { background: #ecc546;color: #fff;opacity: 0.9; }
.index-msg-box a:hover { text-decoration: none; color: rgb(255, 216, 147); }
.con-box-2 .more { position: absolute; width: 100%; margin: 10px 7%; bottom: 0; cursor: pointer;}
.con-box-2 .more:hover {color: #c82828;}
.userList .listBox div .schoolName { width: 100%;text-align: center;padding: 3px 5px;border-top: solid 1px #b3b3b3;color: #000; height: 3.5vw; display: flex;align-items: center;justify-content: center; }
.userList .listBox div a { text-decoration: none; }
.userList .listBox div a .imgBox { position: relative;}
.userList .listBox div:hover .schoolName { background: #ecc546; }
.userList .listBox div:hover { opacity: 0.9; }
/*-- about --*/
.about { width: 100%; float: left;}
.about .leftIndex { width: 50%; float: left; text-align: center; padding: 25px 7%; box-sizing: border-box; margin: 0;}
.about .leftIndex .fa-weixin { color: #333; }
.about .leftIndex .icons div:hover .fa-weixin { color: #c82828; }
.about .right { width: 50%;float: left;margin: 0;box-sizing: border-box;text-align: center;padding: 25px 7%; }
.about h2 { font-size: 2em; margin: 0; }
.about .leftIndex p { font-size: 1.3em;}
.about .leftIndex .title { margin-bottom: 30px;}
.about .leftIndex .title:after { background: #e44c65; content: ''; display: inline-block; height: 0.2em; max-width: 20em; width: 75%;}
.about .leftIndex .box-b .fa { font-size: 5em; margin-bottom: 15px; color: #6d6d6d;}
.about .leftIndex .box-a { padding: 10px 20px; float: left; margin-bottom: 20px;}
.about .leftIndex .box-b { width: 50%; float: left; padding: 15px; box-sizing: border-box;}
.about .leftIndex .box-b span { display: block;}
.about .leftIndex .box-b span.sub-title { font-size: 1.4em; font-weight: 500; line-height: 2em;}
.about .right .right_group_box div { font-size: 2em; margin-bottom: 10%;}
.about .right .right_group_box div .fa { margin-right: 10px;}
.indexabout { height: 20vw; display: flex;align-items: center;justify-content: center;}
.indexabout .subTitle { font-size: 1.5em; width: 100%; font-weight: 500; }
.indexabout .icons { width: 50%;margin: 20px 25%;overflow: hidden; }
.indexabout .icons div { width: 33.33%; float: left; cursor: pointer; }
.indexabout .icons div a { color: #333; text-decoration: none; }
.indexabout .icons div a:hover { text-shadow: 0px 1px 3px #b3b3b3; color: #c82828; }
.indexabout .icons div:hover { text-shadow: 0px 1px 3px #b3b3b3; color: #c82828; }
.indexabout .icons div .fa { font-size: 2em; }
.indexabout .icons div span { display: block; width: 100%; }
.indexabout .text { margin-top: 20px; }
.mid .right > div { box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.26); }
.indexabout .right input { width: 50%; text-align: center ; padding: 10px; margin: 15px 0 ;}
.indexabout .right button { width: 50%;padding: 10px 0; background: rgba(255, 255, 255, 0); }
.indexabout .right button:hover { text-shadow: 0px 1px 3px #b3b3b3; color: #c82828; border: solid 1px #c82828; }
.indexabout .right .commIcons { width: 50%;margin: 20px 25% 0 25%; }
.indexabout .right .commIcons div { width: 33.33%;float: left ; cursor: pointer;}
.indexabout .right .commIcons div:hover { text-shadow: 0px 1px 3px #b3b3b3; color: #c82828; }
.indexabout .right .commIcons div .fa { font-size: 2em; }
.indexabout .leftIndex { border-right: solid 1px #000; }
/*--- indexAppBox ---*/
.indexAppBox { width: 100%; float: left; position: relative; height: 20vw; overflow: hidden; background: rgba(249, 245, 238, 1); }
.indexAppBox img { position: absolute; right: 0; bottom: 0; }
.indexAppBox .test { font-size: 3em; position: absolute; display: flex; align-items: center; padding-left: 5vw; height: 100%;  width: 100%;}
/*---- indexF ---*/
.indexF { width: 100%; float: left ; background: #000;}
.indexF > div { width: 33.33%; float: left; text-align: center;padding: 15px 0; }
.indexF > div span { color: #fff; cursor: pointer;}
.indexF > div span:hover { color: #ffe203; }
/*--- indexPopUp ---*/
.indexpopup { box-sizing: border-box; overflow: auto ; padding: 20px; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.85); z-index: 20; display: none;align-items: center;justify-content: center;}
.newsList , .userList { background: #fff; border-radius: 3px; padding: 20px; width: 80%; overflow: hidden; position: relative;z-index: 20; display: none; min-height: 100%; margin: 0 auto; }
.indexpopup .close-btn { left: 0; }
.indexpopup .newsList .title { font-size: 1.5em; font-weight: bold ; margin-bottom: 5px; text-align: center; } 
.indexpopup .newsList ul li { width: 15.6%;margin: 1% 0.5%;float: left;border: solid 1px #b3b3b3;border-radius: 3px; }
.indexpopup .newsList ul li:hover { background: #ecc546; opacity: 0.9; }
.indexpopup .newsList ul li:hover a { text-decoration: none;}
.indexpopup .newsList ul li a .imgBox { position: relative; background: #fff; }
.indexpopup .newsList ul li a .imgBox .sd_box { opacity: 0.6; }
.indexpopup .newsList ul li a .schoolName { font-size: 13px; text-align: center; padding: 3px 0; border-top: solid 1px #b3b3b3; color: #333; text-decoration: none; height: 4vw; display: flex; align-items: center; justify-content: center; }
.userList .listBox { width: 95%; margin: 0 auto;}
.userList .listBox > div { float: left; width: 14.6%; margin: 1%; margin-bottom: 10px; position: relative; border-radius: 3px; border: solid 1px #b3b3b3; box-sizing: border-box;}
.indexpopup .userList .title { font-size: 1.5em; font-weight: bold ; margin-bottom: 5px; padding: 20px 0; text-align: center; }
.userList.userBox { width: 80%;margin: 0 10%;height: auto;overflow: auto; }
/*-------------------------------------------------------------------------------------*/
/*--------------------------------      all-teacher      ------------------------------*/
/*-------------------------------------------------------------------------------------*/
.search-box { width: 50%; margin: 15px auto; position: relative; overflow: hidden; }
.search-box input { width: 100%; padding: 5px; margin-bottom: 2px; box-sizing: border-box;}
.search-box select { padding: 3px; width: 20%; margin-left: -1px; float: left; box-sizing: border-box;}
.search-box button { width: 30%; margin-left: 4px; padding: 5px 3px; border: solid 1px #a9a9a9; color: #fff; border-radius: 3px; cursor: pointer; position: absolute; right: 1px; bottom: 3px;}
.search-box button:hover {  }
.all-teacher-box { width: 100%; margin:0; padding: 2vw 10%; float: left; overflow: hidden; border-top: solid 1px #b3b3b3; }
.all-teacher-box.all-community { margin-top: 0; }
.all-teacher-box > div { width: 16.6%; float: left; padding: 10px; box-sizing: border-box; }
.all-teacher-box > div.allSearchBox { width: 100%; float: left; padding: 0.5vw 0.25%; box-sizing: border-box; }
.all-teacher-box > div > div.friendBox  , .all-teacher-box.all-community > div > div.communityBox { background: #fff; padding: 0;width: 15.6%;float: left;margin: 0.5vw 0.5%;box-sizing: border-box;border: solid 1px #b3b3b3;border-radius:3px; overflow: hidden ; }
.all-teacher-box.all-community a img { border-radius: 0; border: none; padding: 3px; box-sizing: border-box; }
.all-teacher-box > div a { text-decoration: none; color: #0c0c0c; text-align: center; }
.all-teacher-box a.imgBoxA { width: 100%; float: left; height: 0; padding-bottom: 100%; position: relative; background: #fff; }
.all-teacher-box a.imgBoxA .sd_box img { width: 100%;height: 100%;margin: 0;opacity: 0.3; }
.all-teacher-box a img { position: absolute; width: 100%; height: 100%; margin: 0%;  left: 0; }
.all-teacher-box .communityBox a img { position: absolute; width: 100%; height: 100%; margin: 0%;  left: 0; }
.all-teacher-box .schoolGroup a img { position: absolute; width: 100%; height: 100%; margin: 0%;  left: 0; }
.all-teacher-box > div > div.friendBox:hover , .all-teacher-box.all-community > div > div.communityBox:hover { background: #ecc546;color: #fff;opacity: 0.9;}
.all-teacher-box > div > div.friendBox:hover a , .all-teacher-box.all-community > div > div.communityBox:hover a { background: #fff; } 
.all-teacher-box > div .star { color: #dd883f; margin-top: 5px; width: 100%; float: left; text-align: center;}
.all-teacher-box > div .name { text-align: center; width: 100%; float: left; height: 40px; border-top: solid 1px #b3b3b3; display: flex;align-items: center;justify-content: center; }
.more-btn { float: left; width: 30%; text-align: center;  padding: 7px 0; border-radius: 3px; font-weight: bold; color: #fff; margin: 0 35%; cursor: pointer;}
.more-btn:hover { background: #655f5f; }
.search-box .time-search { margin-top: 3px; position: relative; float: left; width: 100%; }
.search-box .time-search .fa { position: absolute; top: 4px; left: 5px;}
.search-box .time-search input { padding-left: 30px; width: 100%; float: left;}
.all-teacher-box > div.titleB { width: 100%;font-size: 1.8em;text-align: center; margin-bottom: 1vw; }
/*-------------------------------------------------------------------------------------*/
/*-----------------------------------      pop-up      --------------------------------*/
/*-------------------------------------------------------------------------------------*/

.pop-up { box-sizing: border-box ; position: fixed; min-height: 100vh; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.8); z-index: 20; display: none; overflow: auto; height: 100%; }
.close-btn .fa { color: #fff; font-size: 20px; cursor: pointer; opacity: 0.6; position: absolute; right: 20px; top: 20px;}
.close-btn { position: absolute !important; z-index: 9 !important; width: 100%; height: 100%; top: 0; left: 0; }
.pop-up > div { position: relative; z-index: 10;}
.close-btn .fa:hover { opacity: 1; }
.loadingTrue { position: fixed; text-align: center; width: 100%; padding: 5vh 0; background: #c5050c; top: 50%; z-index: 20; border-radius: 3px; color: #fff; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); display: none;}
.loadingFalse { position: fixed;text-align: center;width: 100%;padding: 5vh 0;background: #000000;top: 50%;z-index: 20;border-radius: 3px;color: #fff;box-shadow: 0 0 2px 0 rgba(255, 255, 255, 1);display: none;}

/*-------  live  --------*/
.livePopup , .joinlivePopup { box-sizing: border-box; display: none; position: fixed; width: 100vw; height: 100%; background: #343442; top: 0; left: 0; z-index: 20; overflow: hidden ; padding: 20px; }
.joinlivePopup .joinlive { width: 100%;height: 100%;float: left ; border-radius: 3px 3px 0 0;background: #000; }
.joinlivePopup .joinlive .video { position: relative; width: 75%; height: 100%; float: left ; }
.joinlivePopup .joinlive .talkBox { width: 25%; height: 100%; float: left; overflow: hidden; background: #fff; }
.joinlivePopup .closeLive { display: block; color: #000; }
.livePopup .bottomBox { width: 100%;height: 6%;background: #eee;float: left; display: flex;align-items: center;justify-content: center; border-radius: 0 0 3px 3px; }
.livePopup .bottomBox select { margin-right: 10px; display: none;}
.livePopup .bottomBox button { display: none;}
.livePopup .bottomBox select.set , .livePopup .bottomBox button.goLive.set { display: block; }
.livePopup .live { width: 100%;height: 94%;float: left ; border-radius: 3px 3px 0 0;background: #000; position: relative; }
.livePopup .live .video { position: relative; width: 75%; height: 100%; float: left ; }
.livePopup .live .video.set { width: 100%; }
.livePopup .live .video .liveTitle { display: none;position: absolute; z-index: 3; bottom: 20px;left: 20px;background: rgba(255, 255, 255, 0);color: #fff !important;font-size: 1.2em !important;width: 50%;max-width: 50%;padding: 7px;height: 30px;max-height: 30px;resize: none;overflow: hidden;}
.livePopup .live .video .liveTitle.set { display: block;}
.livePopup .live .talkBox { width: 25%; height: 100%; float: left; overflow: hidden; background: #fff; }
.livePopup .live .talkBox iframe { width: 100% !important; }
.livePopup .live .talkBox.set , .finishLive.set , .livePopup .live .video .nowislive.set { display: none;}
.livePopup .live .video .nowislive {position: absolute ;top: 5px;left: 5px;padding: 0px 5px 0 3px;font-size: 13px;border-radius: 2px;}
.closeLive { display: none; color: #fff; position: absolute; z-index: 2; right: 35px; top: 33px; font-size: 1.5em; opacity: 0.7; cursor: pointer;}
.closeJoinLive { display: none; color: #000; position: fixed; z-index: 20; right: 35px; top: 33px; font-size: 1.5em; opacity: 0.7; cursor: pointer;}
.closeLive.set { display: block;}
.closeLive:hover { opacity: 1; }
.finishText { width: 100%; height: 100%; color: #fff; display: flex; align-items: center; justify-content: center; overflow: hidden;}.finishText .spet1 , .finishText .spet2 { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; display: none;}
.finishText .spet2 div { text-align: center; }
.finishText .spet2 div span { font-size: 120%; }
.finishText .spet2 div button { margin-top: 5px; }
.livevideoload { width: 3%; margin-right: 5px; }
.liveVideo:hover { background: #191716; }
.livePopup .bottomBox button.finishLive.set { display: none; }
.livePopup .bottomBox button.finishLive { display: block; }
.notchrome , .camera { display: none; width: 100%; height: 100%; align-items: center;justify-content: center; color: #fff; position: absolute; }
.camera div { display: none;}
.joinlivePopup.user-msg-box { margin: 0; }
.joinlivePopup .user , .joinlivePopup .msg-btns { display: none;}
.joinlivePopup .msg-1 { width: 75%; padding: 0; margin: 0; background: #000; height: 100%; border-bottom:none; }
.joinlivePopup .msg-1 .msg-text , .joinlivePopup .msg-1 .msg-text .pic_box { width: 100%; height: 100%; }
.joinlivePopup .msg-1 .msg-text p { display: none;}
.joinlivePopup .msg-2 { width: 25%; height: 100%; z-index: 16; position: relative; }
.joinlivePopup .msg-2 .all-msg { display: none;}
.joinlivePopup.user-msg-box .pic_box { margin: 0; }
.joinlivePopup.user-msg-box .pic_box iframe { width: 100%; height: 100%; }
.joinlivePopup .msg-2 iframe { max-width: 100%; width: 100% !important; padding-top: 30px; }
/*-------------------------------------------------------------------------------------*/
/*----------------------------------      private      --------------------------------*/
/*-------------------------------------------------------------------------------------*/
.privateBar { position: fixed;z-index: 10;border-radius: 3px;bottom: 10px;right: 10px;border: solid 1px rgba(255, 255, 255, 0.3);max-width: 50%; overflow: hidden;background: #eee; }
.privateBtn { padding: 5px 10px; width: 100%; cursor: pointer;}
.privateBtn .fa { float: right; padding: 3px; display: none;}
.allMsgUsbTitle .tone { display: block; float: none; }
.allMsgUsbTitle { color: #fff; padding: 0; overflow: hidden; display: -webkit-inline-box;}
/*-------------------------------------------------------------------------------------*/
/*-----------------------------------      member      --------------------------------*/
/*-------------------------------------------------------------------------------------*/

.member-box { width: 35%; margin: 20px auto; border-radius: 3px; box-sizing: border-box; position: relative; z-index: 11; }
.member-box-logo { width: 100%; float: left; overflow: hidden; background: rgb(243, 241, 233); padding: 10px 35%; box-sizing: border-box; border-radius: 3px; }
.member-box .title { float: left; width: 100%; text-align: center; padding: 20px 0; border-bottom: solid 1px #bdbdbd; font-size: 25px; background: #fff; font-weight: bold;}
.community { width: 100%; text-align: center; border-bottom: solid 1px #bdbdbd; float: left; padding: 4vh 0;}
.community span { width: 100%; display: block; float: left; padding-bottom: 1vh;}
.community .fa { font-size: 3em; padding: 10px; cursor: pointer; }
.community .fa:hover { color: #655f5f; }
.general { margin: 20px 20%; width: 60%; float: left;}
.general input { width: 100%; border-radius: 3px; border: solid 1px #bbb4b4; margin-bottom: 10px; padding: 10px 10px; box-sizing: border-box; font-size: 14px; color: #000; }
.general input.blur { color: #a0a0a0; }
button.register-btn { width: 100%; font-size: 30px; padding: 20px 0; color: #fff; font-weight: bold; border: solid 1px #ffffff; border-radius: 3px; /*position: absolute;*/ bottom: 0px; left: 0;}
button.register-btn:hover { cursor: pointer; }
.general span { display: block; width: 100%; text-align: center; padding: 3vh 0; float: left;}
.login-box .account , .member-box .account span { cursor: pointer; }
.login-box .account span:hover , .member-box .account span:hover { color: #2269ff;}
.account span { width: 50%; padding: 6% 0 10% 0; text-align: left;}
.register-box , .forget-box , .login-box { display: none; }
.general .email { margin-top: 3vh;}
button.send_email { width: 100%;}
.general.general2 span { padding: 1vh 0;}
.general2 { display: none; margin-top: 0;border-top: solid 1px #b3b3b3;padding-top: 10px;}



    
#holder { border: 1px dashed #ccc; width: 100%; margin-top: 12vw; height: 20vw; box-sizing: border-box;}
#holder.hover { border: 3px dashed #0c0; }
#holder img { display: block; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}

/*----- popupFATP -----*/
.popupFATP { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.94); top: 0; left: 0; z-index: 20; padding: 2% 0; text-align: -webkit-center;}
.fatpBox { background: #fff; width: 70%; height: auto; min-height: 100%; border-radius: 3px; padding: 2%; }
.fatpTitle { font-size: 1.1em;}
.fatpContent ul { width: 33.3%; float: left; padding: 2%; word-break: break-all; text-align: left;}

@media (max-width: 1000px) {
    html,
    body{
        -webkit-overflow-scrolling : touch !important;
        overflow-y: auto !important;
        height: 100% !important;
    }
    form .login-box .general {
        margin-top: 0;
    }
    input {
        font-size: 16px !important;
        /*margin-bottom: 0 !important;*/
    }
    .pop-up .close-btn {
        padding: 10px;
    }
}