/*--------------------------------*/
/*-------    DISPLAY   -----------*/
/*--------------------------------*/
header ul.head-top li.search , .teacher-dt .date , li.float-right.recommend.ng-binding , .buttons .time-search , .group-box , .msg-btns .btn-1 , .msg-btns .btn-3 , .more-btn , .all-evaluate , .friend-msg , .buttons .appraise , .s_f_btns , .function-menu li:nth-child(2) { display: none;}
/*--------------------------------*/
/*----------    共用   ------------*/
/*--------------------------------*/
.float-right { float: right !important; }
.float_l { float: left; }
.left { width: 25%; margin-top: 20px; margin-left: 10%; float: left;}
.right { float: right; margin-top: 20px; width: 49%; margin-right: 10%;}
.mid .modify_s_1 { width: 80%; }
.vaaccount-box { display: none;}
.mid { min-height: 79vh }
a , button , .class_index .class_wrap .class_menu:hover > div , .share .fa , .share span , .hover { transition: 0.25s ease; -o-transition: 0.25s ease; -webkit-transition: 0.25s ease; }
button { border: none; background: #dd883f; color: #fff; cursor: pointer;}
button:hover { background: #353535; }
input.blur { color: #969696;}
.b_c_1 { background: #dd883f; }
.b_c_2 { background: #5a5a5a; }
.b_c_3 { background: #655f5f; }
.t_c_white { color: #fff; }
.bor_s_1 { border-radius: 3px; border: solid 1px #a09b9b; }
.bor_b { border-bottom: solid 1px #a09b9b; }
.hover { cursor: pointer; }
.hover:hover { background: #353535 }
i.fa.fa-star { color: #dd883f;}
a { cursor: pointer; }
.button { background: #dd883f; text-align: center; padding: 5px 0; cursor: pointer; }
.button:hover { background: #353535; }
/*--------------------------------*/
/*---------   banner   -----------*/
/*--------------------------------*/
.banner { width: 100%; height: 350px; background: #000; position: relative; background-size: cover; }
.banner .user-img { width: 180px; height: 180px; left: 50px; position: absolute; bottom: -30px; border-radius: 3px; overflow: hidden; border: solid 2px #fff; background: url(images/preset_pic.png) #635f5f; }
.banner .user-img img { height: 100%; }
.banner .user-name { position: absolute; left: 260px; bottom: 15px; font-size: 2em; color: #fff; text-shadow: 0 0 2px #525252;}
.mid { width: 100%; background: #f3f1e9; float: left; padding-bottom: 20px; }
ul.function-menu { box-sizing: border-box; overflow: hidden; width: 100%; padding-left: 260px; background: #fff; float: left; margin: 0; border-bottom: solid 1px #b3b3b3; border-top: solid 1px #b3b3b3;}
ul.function-menu li { float: left; padding: 10px 15px; border-left: solid 1px #b3b3b3; text-align: center; border-right: solid 1px #b3b3b3; margin-left: -1px; cursor: pointer; }
ul.function-menu li:hover { background: #525252; color: #fff;}
ul.function-menu li a { color: #000; text-decoration: none; display: block; }
ul.function-menu li:hover a { color: #fff; } 
.send-btn { position: absolute; right: 20px; bottom: 20px; background: #000; color: #fff; border-radius: 3px; border: solid 1px #fff;}
.send-btn button { background: none; border: none; color: #fff; cursor: pointer; padding: 2px 40px;}
.send-btn button:hover { color: #ddc53f; }
.float-Box { width: 118px; position: absolute; box-sizing: border-box; display: none;}
.float-Box div { background: #fff; box-sizing: border-box; padding: 10px 15px; overflow: hidden; border-radius: 3px;}
.banner-modify { top: 50px; right: 20px; }
.pic-modify { left: 111px; bottom: 15px;}
.banner-modify i.fa.fa-caret-up { font-size: 20px; color: #fff; position: absolute; top: -13px; left: 15px;}
.pic-modify i.fa.fa-caret-down { font-size: 20px; color: #fff; position: absolute; bottom: -12px; left: 15px;}
/*-- teacher --*/
.modify-bg { cursor: pointer; background: rgba(0, 0, 0, 0.75); border: solid 1px #fff; overflow: hidden; display: -webkit-inline-box; padding: 2px 15px; color: #fff; position: absolute; top: 10px; right: 20px; border-radius: 3px;}
.modify-img { cursor: pointer; position: absolute; background: rgba(0, 0, 0, 0.75); border-radius: 3px; border: solid 1px #fff; right: 3px; bottom: 3px; color: #fff; padding: 3px 15px;}
.modify-bg:hover , .modify-img:hover { color: #ddc53f; }
.modify-bg .fa , .modify-img .fa { margin-right: 5px; }

/*--------------------------------*/
/*------   page-left-box   -------*/
/*--------------------------------*/

/*------   booking   -------*/
.buttons .appraise { width: 100%; float: left; margin-bottom: 10px; border-radius: 3px; overflow: hidden; box-shadow: 0px 0px 0px 1px #b3b3b3 inset; background: #fff;}
.buttons .appraise div.sub-title { width: 100%; background: #353535; padding: 5px 10px; color: #fff; }
.buttons .appraise div { float: left; width: 50%; box-sizing: border-box; padding: 5px 10px; line-height: 1.4em;}
.buttons .appraise div .fa { font-size: 18px; color: #ffb833;}
.buttons .appraise div span { font-size: 18px; margin-left: 5px; }
.buttons .appraise div a { width: 100%; display: block; text-align: center; background: #dd883f; border-radius: 3px; color: #fff; text-decoration: none; font-size: 13px; }
.buttons .appraise div a:hover { background: #525252; }
.s_f_btns { width: 100%; float: left; border-radius: 3px; box-sizing: border-box; margin-bottom: 10px; border: solid 1px #b3b3b3; padding: 1px;}
.s_f_btns div { width: 50%; float: left; }
.s_f_btns div { width: 100%; float: left; }/* 只有訂閱時 開放好友功能時移除 */
.s_f_btns div button { width: 100%; border-radius: 0; border: none; cursor: pointer; background: rgba(191, 191, 191, 0.38); }
.s_f_btns div button:hover { background: #dd883f; color: #fff; }
.subscribe_btn { border-right: solid 1px #b3b3b3; box-sizing: border-box;}

.buttons button.booking-btn , .time-search button { width: 100%; border: none; background: #dd883f; font-size: 25px; border-radius: 3px; color: #fff; font-weight: bold; padding: 5px 0; cursor: pointer; margin-bottom: 10px; }
.buttons button:hover { background: #525252; }
.time-search { margin: 10px 0 0 0; }
.time-search select { width: 24%; height: 24px;}
.time-search span { display: block; width: 100%; margin-bottom: 5px; background: #353535; border-radius: 3px; color: #fff; padding: 5px 10px; box-sizing: border-box;}
.time-search button { margin-top: 5px; padding: 2px 0; font-size: 20px;}
.date span.t_1 { padding-bottom: 1px;}
/*------   about-me   -------*/
.about-box { /*margin-top: 15px;*/ border: solid 1px #b3b3b3; width: 100%; height: 200px; padding: 10px; background: #fff; box-sizing: border-box; float: left; }
.about-box span { padding-bottom: 5px; border-bottom: solid 1px #000; display: block;}
.text-box { font-size: 13px; line-height: 20px; overflow: auto; height: 140px; margin: 10px 0; padding-right: 10px;}
.videos , .group-box { margin-top: 15px; border: solid 1px #b3b3b3; width: 100%; min-height: 200px; padding: 10px; background: #fff; box-sizing: border-box; float: left; }
/*------   video-box   -------*/
.videos:hover .video-box { opacity: 0.5; }
.video-box { width: 33.3%; float: left; padding: 0.5px; box-sizing: border-box; cursor: pointer; }
.videos .video-box:hover { opacity: 1; }
/*------   group-box   -------*/
.group-box span { padding-bottom: 5px; border-bottom: solid 1px #000; display: block;}
.group-box > div { width: 100%; min-height: 50px; float: left; padding: 10px 0; }
.group-box > div > div { width: 48px; float: left; border-radius: 3px; padding: 1px; box-sizing: border-box; border: solid 1px #d2d2d2; margin: 0 3px 3px 0; cursor: pointer; }
/*------ modify ------*/
.user-date { background: #fff; border-radius: 3px; border: solid 1px #b3b3b3; padding: 10px; box-sizing: border-box; margin-bottom: 15px; float: left; width: 100%; }
.user-date > span { padding-bottom: 5px; border-bottom: solid 1px #b3b3b3; display: block; margin-bottom: 10px; }
.user-date > div { margin-bottom: 15px;}
.user-date > div > span { display: block; padding-bottom: 5px;}
.user-date div input { width: 100%; padding: 5px; box-sizing: border-box; border: none; border-bottom: solid 1px #b3b3b3;}
.user-date div select { width: 100%; border: none; border-bottom: solid 1px #b3b3b3; padding-bottom: 5px;}
.user-date div textarea { padding: 5px; width: 100%; box-sizing: border-box;}
.buttons button.send { width: 100%; padding: 10px 0;}
/*--- day ---*/
div#ui-datepicker-div { background: #fff; padding: 10px; border: solid 2px #dd883f; border-radius: 3px; width: 23%; }
.ui-datepicker .ui-datepicker-title { float: left; width: 100%; margin: 0; margin-bottom: 15px; padding-top: 10px; border-top: solid 1px #000;}
span.ui-icon.ui-icon-circle-triangle-w, span.ui-icon.ui-icon-circle-triangle-e { cursor: pointer; margin: 0 1% 10px 1%; display: block; float: left; background: #dd883f; padding: 3px 0px; color: #fff; border-radius: 3px; font-size: 13px; width: 48%; text-align: center;}
span.ui-icon.ui-icon-circle-triangle-w:hover , span.ui-icon.ui-icon-circle-triangle-e:hover { background: #353535; }
.ui-datepicker-calendar a { text-decoration: none; color: #dd883f; }
.ui-datepicker-calendar a:hover { color: #2196f3; }
table.ui-datepicker-calendar { width: 100%; text-align: center;}
table.ui-datepicker-calendar td{ padding: 10px 0;}
.ui-datepicker-title select { width: 48%; margin: 0 1%;}
i.fa.fa-calendar { float: left; margin-right: 8px; font-size: 20px;}
input#this_date { padding: 1px 5px;}
.seDateTime { margin: 10px 0 5px 0; position: relative; }
.seDateTime input { width: 100%; padding: 5px 30px; box-sizing: border-box;}
.seDateTime .fa { position: absolute; top: 4px; left: 5px;}

button.showMore { width: 100%; margin-top: 10px; display: none; float: left; }

/*--------------------------------*/
/*------   page-right-box   ------*/
/*--------------------------------*/

/*------   po-msg   -------*/
.po-msg-box { width: 100%; float: left; background: #fff; border: solid 1px #b3b3b3; border-radius: 3px;}
.po-msg-box .msg { float: right; width: 89%; overflow: hidden; box-sizing: border-box;}
.po-msg-box .msg-box textarea { border-radius: 3px; float: left; height: 0; width: 99.5%; max-width: 100%; padding: 5px; padding-bottom: 10%; box-sizing: border-box; max-height: 0;}
.po-msg-box span.title { display: block; width: 100%; padding: 5px 20px; box-sizing: border-box; background: #dd883f; color: #fff;}
.msg-box { padding: 6px 5px; box-sizing: border-box; float: left; width: 100%; border-bottom: solid 1px #b3b3b3;}
.msg-box .user-img { width: 10%; float: left; padding-bottom: 10%; height: 0; position: relative;}
.msg-box .user-img img { height: 100%; width: 100%; float: left; position: absolute;}
.msg-box textarea { width: 88.8%; float: left; height: 84px;}
.send-box { padding: 6px 5px; float: right; text-align: right; box-sizing: border-box;}
.send-box button { border: solid 1px #b3b3b3; background: #dd883f; font-size: 16px; font-weight: 400; color: #fff; border-radius: 3px; cursor: pointer;}
.send-box button:hover { background: #525252; }
.up_file_box { width: 100%; float: left; box-sizing: border-box; background: #f5f5f5; border-bottom: solid 1px #b3b3b3; font-size: 13px;  }
.u_b { width: 50%; float: left; padding: 0 2%; }
.u_b.u_i { border-radius: 3px 0 0 3px; border-right: solid 1px #e6e6e6; }
.u_b input { width: 60%; float: left; padding: 5px 0; }
.u_b label { float: left; padding: 5px; }
.w_c_s { float: right; margin: 6px 0;}
.w_c_s select { padding: 5px; }
/*--- friend apply msg ---*/
.friend-msg { width: 100%; float: left; margin: 10px 0;}
.friend-apply { width: 100%; float: left; margin: 5px 0; padding: 5px; box-sizing: border-box; border: solid 1px #b3b3b3; border-radius: 3px; background: #fff;}
.friend-apply div { float: left; }
.friend-apply div.user-img { width: 5%;}
.friend-apply div.user-name { width: 60%; box-sizing: border-box; padding: 0 10px; position: relative; transform: translateY(50%); }
.friend-apply div.btns { width: 35%; text-align: right; position: relative; transform: translateY(50%); padding-right: 2%; box-sizing: border-box;}
.friend-apply div.btns button { cursor: pointer; border: solid 1px #b3b3b3; border-radius: 3px; padding: 2px 10px; box-sizing: border-box;}
.friend-apply div.btns button.fa_y { background: #dd883f; color: #fff; }
.friend-apply div.btns button:hover {  background: #353535; color: #fff; }
/*------   class-msg-box   -------*/
.class-msg { width: 100%; float: left; margin-top: 15px;}
.class-msg span { display: block; width: 100%; background: #7b1515; padding: 5px; margin-bottom: 5px; border-radius: 3px;}
ul.booking-msg-box { width: 100%; float: left;}
ul.booking-msg-box li.teacher-img { width: 10%; border-radius: 3px; overflow: hidden; float: left; margin-right: 10px; margin-top: 3px; padding: 0; padding-bottom: 10%; height: 0; box-sizing: border-box; position: relative;}
ul.booking-msg-box li.teacher-img img { height: 100%; position: absolute; width: 100%; left: 0; top: 0;}
ul.booking-msg-box li { margin-bottom: 3px;}
.c_wrap { width: 100%; max-height: 170px; overflow: auto;}
.c_wrap.showAll { max-height: initial;}
.c_list { overflow: hidden;}
.show_all_class { padding-right: 10px;cursor: pointer; }
.show_all_class:hover { color: #ffda0b; }
ul.booking-msg-box li.float_l { margin-right: 2%; }
.b_rT { max-height: 60px; overflow: auto; padding-right: 5px; }
/*---------  user-msg-box  ---------*/
.user-msg-box { float: left; width: 100%; border-radius: 3px; border: solid 1px #b3b3b3; box-sizing: border-box; margin-top: 10px; }
ul.user { float: left; width: 100%;}
ul.user li.user-img { width: 43px; height: 43px; float: left; margin-right: 10px; }
ul.user li.user-img img { height: 100%; }
ul.user li.po-time { font-size: 13px;}
.user-msg-box .pic_box { overflow: hidden; margin: 5px 0; }
.user-msg-box video { width: 100%; float: left; background: #000; }
.user-msg-box > div { padding: 10px; float: left; width: 100%; box-sizing: border-box; background: rgba(255, 255, 255, 0.4); }
.user-msg-box div.msg-1 { background: #fff; border-bottom: solid 1px #b3b3b3; }
.user-msg-box div.msg-btns { background: #fff; border-bottom: solid 1px #b3b3b3; padding: 0; }
.user-msg-box div.msg-btns select { float: right; padding: 3px; margin: 2px; }
.msg-btns > div { float: left; width: 12%; border-right: solid 1px #b3b3b3; text-align: center; padding: 5px 0 ; cursor: pointer; }
.msg-btns > div:hover { background: #dd883f; color: #fff; }
.evaluate > div { float: left; margin-right: 20px; font-size: 21px; margin-left: 10px; }
.share .fa { font-size: 30px; margin-left: 20px; }
.evaluate , .share { display: none; margin-top: 10px; border-top: solid 1px #b3b3b3; padding-top: 15px; }
.share span { float: left; padding: 4px 9px; background: #dd883f; border-radius: 3px; color: #fff; font-size: 13px; font-weight: bold; margin-top: 3px;}
.share span:hover { background: #525252; }
.share .fa:hover {color: #525252; }
.share .fa , .share span { cursor: pointer; }
.po-text .t_1 { width: 30px; height: 30px; float: left; margin-right: 10px; border-radius: 3px; overflow: hidden; margin-top: 3px; }
.po-text .t_1 img { height: 100%; }
.po-text input { width: 75%; height: 25px; padding: 0 10px;}
.all-msg .p_btn { width: 16%; padding: 2px 0; }
.all-msg { }
.po-text { margin-top: 10px; }
.user-po { width: 100%; float: left; margin-top: 10px; padding-bottom: 10px; border-bottom: solid 1px #b3b3b3; }
.user-po .u_img { width: 6%; float: left; margin-right: 1%; height: 0; padding-bottom: 6%; position: relative; }
.user-po .u_img img { height: 100%; position: absolute; }
.u_text { width: 93%; float: left; overflow: hidden;}
.u_text span { color: #2196F3; float: left; margin-right: 10px; }
.u_text .time { font-size: 13px; padding-top: 3px; }
.msg-text { word-wrap: break-word; float: left; width: 100%;}
.pack-up .msg-text { height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.msg_warp.pack-up { max-height: 124px;}
.msg-text h2 { padding: 0; font-size: 1.2em; line-height: 1em; margin: 8px 0; border-top: solid 1px #b3b3b3; padding-top: 8px;}
.msg-text .evaluate { display: block; border: none; padding: 0; margin: 0; font-size: 14px; }
.user-msg-box button { margin: 5px 0 5px 5px; }
.change_time_list { text-align: center; padding: 10px 0; margin-bottom: 5px;}
.msg_warp { overflow: hidden; }
/*---------  modify-class-time  ---------*/
.change-day { width: 100%; background: #fff; box-sizing: border-box; padding: 15px; border-radius: 3px; border: solid 1px #b3b3b3; float: left; }
.change-day > div { float: left; margin-right: 20px;}
.change-day > div input { padding: 1px 10px;}
.class-time-box { float: left; width: 100%; box-sizing: border-box;}
.class-time-box > div { float: left; padding: 5px 10px; background: #fff; border-radius: 3px; border: solid 1px #b3b3b3; width: 20%; margin: 10px 5px 10px 0; text-align: center; cursor: pointer;  }
.booking-time-box { width: 100%; background: #fff; float: left; border-radius: 3px; border: solid 1px #b3b3b3; box-sizing: border-box; overflow: hidden; }
.time-list { width: 200%; float: left; }
.time-list > div { width: 50%; float: left; padding: 15px; box-sizing: border-box; transition: 0.25s ease; -o-transition: 0.25s ease; -webkit-transition: 0.25s ease; }
.time-list > div ul { width: 12.5%; float: left;}
.time-list > div ul li { float: left; width: 99.3%; margin: 1px 1px; box-sizing: border-box; text-align: center; cursor: pointer; padding: 5px 0; position: relative; }
.time-list > div ul li.time ,.time-list > div ul.week li { cursor: default; }
.moving { margin-left: -50%; }
.week-title { width: 100%; float: left; padding: 20px 15px 0 15px; box-sizing: border-box; text-align: center;}
.week-title div { width: 12.5%; float: left; }
.class-time-box > div.nowTimeList { background: #dd883f; color: #fff; }
.time-list > div ul li.open { background: #dd883f; color: #fff; border-radius: 3px; position: relative;}
.time-list > div ul li input { position: fixed; left: 0; top: -500px; opacity: 0;}
.time_wrap { overflow: hidden; width: 100%; display: none;}
.time_list_btn { width: 100%; margin: 5px 0 20px 0; padding: 5px 0; }
/*---------  modify-video  ----------*/
.title > div { float: right; font-size: 15px; margin-left: 5px; }
.up-video span { padding: 4px 5px; display: -webkit-inline-box; width: initial; float: left; line-height: 1; margin-right: 10px; border-right: solid 1px #969696;}
.up-video { background: #eee; padding: 3px; border-radius: 3px; border: solid 1px #a09b9b;}
.up-btn button { font-size: 16px; padding: 4px 10px; border-radius: 3px; border: solid 1px #a09b9b; background: #dd883f; color: #fff; cursor: pointer;}
.up-btn button:hover { background: #525252; }
/*--------------------------------*/
/*-----------   pop-up   ---------*/
/*--------------------------------*/

/*-------  recommend  ------*/
.recommend-box { display: none; }
.recommend-box span { margin-bottom: 5px; display: block;}
.friend-img { width: 20%; padding: 5px; float: left; box-sizing: border-box; cursor: pointer; font-size: 13px; line-height: 22px;}
.recommend-box .btn { width: 100%; float: left; text-align: right; margin-top: 10px; border-top: solid 1px #cacaca; padding-top: 10px;}
label.friend-img { position: relative; opacity: 0.5; }
label.friend-img input { position: absolute; left: 10px; top: 10px; opacity: 0; }
label.friend-img.selectThis { opacity: 1; }
/*-------  video  ------*/
.pop-up video { width: 80%; margin: 20px 10%; display: none;}
/*------  booking  -------*/
.booking , .booking_dt { width: 60%; margin: 20px 20%; padding: 20px; box-sizing: border-box; background: #fff; border-radius: 3px; float: left; display: none;}
.teacher-dt { width: 100%; float: left; padding-bottom: 15px; border-bottom: solid 1px #b3b3b3;}
.teacher-dt img { height: 100%; position: absolute; }
.teacher-dt .img-box { width: 25%; margin-right: 2%; float: left; height: 0; padding-bottom: 25%; position: relative;}
.teacher-dt .date { width: 31%; margin-right: 2%; float: left;}
.teacher-dt .date div { margin-bottom: 3px; border-bottom: solid 1px #b3b3b3; padding-bottom: 3px;}
.teacher-dt .date span { font-size: 14px; display: block;}
.teacher-dt .about { width: 69%; float: left; font-size: 14px;}
.teacher-dt .about span { display: block; margin-bottom: 5px; font-size: 16px; }
.teacher-dt .about .msg-text { height: 163px; float: left; width: 100%; overflow: auto;}
.booking .time-box ul li { float: left; padding: 10px 20px 10px 0; cursor: pointer; }
.booking .time-box ul li.thisTime { color: #fff; background: #dd883f; padding: 0 6px; margin: 10px 11px 10px -5px; border-radius: 3px;}
.booking .time-box ul li:hover { color: #fff; background: #dd883f; padding: 0 6px; margin: 10px 11px 10px -5px; border-radius: 3px; }
.booking .time-box { float: left; width: 100%; }
.booking .time-box span { padding: 7px 0; display: block; width: 100%; float: left;}
.booking .day-box { margin-bottom: 10px; border-bottom: solid 1px #dedede; padding-bottom: 20px;}
.day-box input { padding: 0 10px;}
.day-box select { width: 15%;}
.class-books > div { width: 25%; float: left; padding: 1px; box-sizing: border-box; opacity: 0.5; cursor: pointer; }
.class-books > div:hover { opacity: 1; }
.class-books span { padding: 7px 0; display: block; width: 100%; float: left;}
.time-box { border-bottom: solid 1px #b3b3b3; padding-bottom: 10px; margin-bottom: 10px;}
.class-books > div.thisBook { opacity: 1; } 
.reason { width: 100%;}
.reason textarea { width: 100%; float: left;}
span.school_name { width: 100%; float: left;}
span.school_name h2 { margin: 0 0 15px 0; font-size: 1.5em; font-weight: bold; padding-bottom: 10px; border-bottom: solid 1px #b3b3b3;}
.booking_dt span.title { width: 100%; font-size: 1.5em; font-weight: bold; text-align: center; display: block;}
.booking_dt .dt_box { text-align: -webkit-center; width: 80%; border-bottom: solid 1px #ddd; margin: 0 auto; margin-bottom: 10px; padding-bottom: 10px; box-sizing: border-box;}
.booking_dt .dt_box .name { margin-top: 10px; font-weight: bold;}
.booking_dt .dt_box span.sub_title { font-weight: bold; font-size: 1.2em;}
.booking_dt .school_pic { width: 20%; }
.sub_line { border-bottom: solid 3px #dd883f; width: 18%; margin: 5px auto 15px auto;}
.booking_reason { max-height: 100px; overflow: auto;}

/*-- 取消預約 --*/
.why_cancel { width: 40%; margin: 18vw 30%; background: #fff; padding: 20px; box-sizing: border-box; overflow: hidden; display: none;}
.why_cancel .title { font-weight: bold; margin-bottom: 5px;}
.why_cancel textarea { width: 100%; margin-bottom: 10px; height: 100px; }
.why_cancel button { float: right; }
/*--------------------------------*/
/*---------   video-page   -------*/
/*--------------------------------*/

.all-video-box { width: 70%; float: left; margin: 15px 15%; background: #fff; border: solid 1px #cecece; box-sizing: border-box;}
.all-video-box div.title { font-size: 23px; padding: 10px 20px; border-bottom: solid 1px #cecece;}
.all-video-box div.title .fa { margin-right: 10px; }
.v-box { width: 100%; padding: 20px; box-sizing: border-box; float: left; }
.v-box > div { width: 20%; padding: 5px; box-sizing: border-box; float: left; cursor: pointer; }
.v-box:hover > div { opacity: 0.5; }
.v-box > div:hover { opacity: 1; }


/*--------------------------------*/
/*----   class-appraise-page   ---*/
/*--------------------------------*/
.class_index { width: 100%; box-sizing: border-box; padding: 20px; float: left; min-height: 1px; }
.class_index .prev , .class_index .next { width: 5%; box-sizing: border-box; padding: 0 1.5%; float: left; min-height: 1px; cursor: pointer; }
.class_index .class_wrap { width: 90%; float: left; min-height: 1px; overflow: hidden; }
.class_index .class_wrap .class_img { float: left; padding: 1px; box-sizing: border-box; cursor: pointer; }
.class_index .class_wrap .class_menu div { opacity: 0.5; }
.class_index .class_wrap .class_menu div.now-class { opacity: 1; }
.class_index .class_wrap .class_menu div:hover { opacity: 1; }
.appraise-text { padding: 5px 5%; float: left; box-sizing: border-box; width: 100%;}
.class-name { width: 100%; float: left;}
.class-name h1 { font-size: 1.5em; text-align: center; color: #6b6b6b; }
.text-wrap { padding: 5px; box-sizing: border-box; border: solid 1px #b3b3b3; border-radius: 3px; float: left; width: 100%; margin-bottom: 10px; background: #fff; }
.text-wrap > div { float: left; }
.t_b_s1 { width: 10%;}
.t_b_s2 { width: 90%; padding: 5px 15px; box-sizing: border-box;}
.t_b_s2 span.star { float: right;}
.t_b_s2 .c_t { border-top: solid 1px #b3b3b3; padding-top: 10px;}

/*--------------------------------*/
/*--------   share-pop-up   ------*/
/*--------------------------------*/
.share-pop-up { display: none; position: fixed; z-index: 19; background: rgba(19, 19, 19, 0.54); width: 100%; top: 0; height: 100vh;}
.shaee-content-box { position: fixed; width: 50%; background: #fff; padding: 10px; box-sizing: border-box; left: 25%; top: 10vh; border-radius: 3px;}
.shaee-content-box .title { background: #e2e2e2; padding: 6px 10px; border-radius: 3px;}
.shaee-content-box span.close { float: right; cursor: pointer; color: #969696;}
.shaee-content-box span.close:hover { color: #000; }
.share-at video { width: 100%; margin: 10px 0;}
.article input { width: 100%; box-sizing: border-box; margin-top: 10px; border: none; padding: 5px 10px;}
.share-btns button , .share-btns .w_c_s { float: right; margin-left: 5px; cursor: pointer; }
.share-btns .w_c_s select { padding: 2px 3px; width: 100%; box-sizing: border-box;}
.share-btns { width: 100%; float: left; border-top: solid 1px #cecece; margin-top: 10px; padding-top: 10px;}

/*--------------------------------*/
/*------   appraise-Class   ------*/
/*--------------------------------*/
.g_a_box { width: 60%; margin: 10px 20%; background: #fff; border-radius: 3px; border: solid 1px #b3b3b3; padding: 20px; box-sizing: border-box;}
.g_a_box .title { text-align: center; font-size: 1.2em; font-weight: bold; width: 100%; float: left; margin: 10px 0;}
.g_a_box .c_time { text-align: center; width: 80%; margin: 0 10%; float: left;}
.g_a_box .c_img { margin: 10px 5%; float: left; width: 90%; box-sizing: border-box; text-align: center;}
.g_a_box .c_name { width: 100%; text-align: center; margin-bottom: 20px;}
.g_a_box .star_box { width: 100%; text-align: center; margin: 10px 0 20px 0; border-top: solid 1px #b3b3b3; padding-top: 20px;}
.g_a_box .a_text { width: 80%; margin: 0 10%;}
.g_a_box .a_text input { width: 100%; box-sizing: border-box; margin-bottom: 10px; padding: 5px 10px; border-radius: 3px; border: solid 1px #b3b3b3;}
.g_a_box .c_img img { width: 35%; text-align: center;}
.g_a_box .a_text span { padding-bottom: 5px; display: block;}
.g_a_box .btn { width: 100%; text-align: center;}
 button { padding: 3px 50px; background: #dd883f; border-radius: 3px; border: solid 1px #b3b3b3; color: #fff; cursor: pointer;}
 button:hover { background: #353535; }


/*--------------------------------*/
/*-----   private-message   ------*/
/*--------------------------------*/
.p_m_b { width: 100%; float: left; margin-bottom: 15px; padding-bottom: 10px; }
.friend { margin: 10px 0; background: #e6e6e6; border-radius: 3px; overflow: hidden;}
.friend div { float: left; padding: 4px 10px; background: #dd883f; color: #fff;}
.friend input { width: 80%; box-sizing: border-box; padding: 4px 10px; border: none; background: rgba(0, 0, 0, 0);}
.p_m_b button { margin: 0; float: right; padding: 4px 0; width: 10%; border: none; }
.i_p_f { margin-bottom: 10px; float: left; width: 100%;}
.i_p_f span { margin-right: 5px; padding: 3px 5px; border-radius: 3px; font-size: 13px; background: #daac45; float: left; color: #353535;}
.i_p_f span .fa { cursor: pointer; }
.talk_msg { margin-bottom: 5px; width: 100%; float: left; margin-top: 3px; }
.talk_msg input { width: 77%; box-sizing: border-box; padding: 2px 5px; float: left;}
.talk_msg textarea { width: 100%; }
.talk_msg button { float: right; }
.all_msg { width: 100%; float: left; }
.all_msg .sub_t { float: left; padding: 3px 10px; border-radius: 3px; width: 100%; margin-bottom: 2px;}
.p_box { padding: 10px; background: #fff; float: left; width: 100%; box-sizing: border-box; border-radius: 3px; overflow: hidden; margin-top: 10px;}
.p_box .p_u { width: 100%; float: left;}
.p_box .name { float: left; padding: 5px; border-radius: 3px; }
.p_box .po_time { float: right; padding: 5px;}
.p_box .s_u { width: 100%; float: left;}
.p_box .content { width: 100%; float: left; overflow: auto; }
.p_box .content > div { margin-top: 20px; }
.p_box .others { width: 98%; float: left;}
.p_box .others .say { float: left; width: 100%;}
.p_box .say a { width: 100%; float: left; } 
.p_box .others .time { float: left; padding: 5px; }
.p_box .others .say img { width: 50%; float: left; text-align: left; margin-right: 50%;}
.p_box .self { width: 98%; float: right;}
.p_box .self .name { float: right; }
.p_box .self .say { float: right; width: 100%; text-align: right;}
.p_box .self .time { float: right; padding: 5px; }
.p_box .self .say img { width: 50%; float: right; text-align: left; margin-left: 50%;}
.p_box .self .say video { width: 60%; float: right; margin-left: 40%; margin-top: 10px;}
.p_box .say { padding: 10px; margin-top: 5px; background: rgba(243, 241, 233, 0.49); box-sizing: border-box;}
.all_msg textarea { margin-top: 10px;}
.all_msg .btns button { float: right; }
.all_msg .btns { padding-bottom: 10px; overflow: hidden;}
.p_m_b .btns input { float: left;}
.all_msg .unfolded { width: 100%; float: left; padding: 6px 10px; box-sizing: border-box; text-align: end; margin: 4px 0; border-radius: 3px; cursor: pointer;}
.all_msg .more { margin-top: 10px; width: 100%; float: left; padding: 5px 0; box-sizing: border-box; text-align: center;}
.msg_list .p_box .content > div { margin-top: 5px;}
.no_msg { width: 100%; text-align: center; padding: 20px 0; margin-top: 10px; float: left;}
.msg_list .new_msg { float: left; padding: 5px; background: #dd883f; border-radius: 3px; margin-right: 5px; color: #fff;}
.msg_list .p_box .others { width: 100%; float: left;}
.p_u a:hover > div { background: #353535; }
.p_m_b.bor_s_1 { padding: 10px; background: #fff; margin-top: 10px;}
.con_warp { max-height: 60vh; overflow: auto; }
/*--------------------------------*/
/*-----------   footer   ---------*/
/*--------------------------------*/

footer { width: 100%; text-align: center; padding: 24px 0; float: left; background: #dd883f;}

/*--------------------------------*/
/*-----------   RWD   ------------*/
/*--------------------------------*/


@media screen and (max-width: 1280px) {
    
/*--------------------------------*/
/*---------   banner   -----------*/
/*--------------------------------*/
    
    li.float-right.recommend { width: 15%;}
    
/*--------------------------------*/
/*------   page-left-box   ------*/
/*--------------------------------*/
    
    .left { width: 28%; margin-top: 20px; margin-left: 15px; float: left;}
    .time-search select { width: 49%; height: 24px; margin: 2px 0;}
    
/*--------------------------------*/
/*------   page-right-box   ------*/
/*--------------------------------*/
    
    .right { float: right; margin-top: 20px; width: 68%; margin-right: 15px;}
    ul.booking-msg-box li.teacher-img { width: 11.2%; }
 
    .booking { width: 80%; margin: 20px 10%; padding: 20px; box-sizing: border-box; background: #fff; border-radius: 3px; float: left; display: none;}
    
}



/*-------- 980 -------*/
@media screen and (max-width: 980px) {
/*--- user-banner ---*/    
    .banner { height: 250px; }
    .banner .user-img { left: 20px; width: 140px; height: 140px; bottom: 16px; }
    .banner .user-name { position: absolute; left: 175px; width: 51%; bottom: 15px; word-wrap: break-word; font-size: 2em; color: #fff; text-shadow: 0 0 2px #525252;}
    ul.function-menu { box-sizing: border-box; overflow: hidden; width: 100%; padding-left: 0; background: #fff; float: left; margin:0; border-bottom: solid 1px #b3b3b3; border-top: solid 1px #b3b3b3;}
    ul.function-menu li { }
    li.float-right.recommend { width: 25%;}
    button.showMore { display: block;}
    .videos { display: none; }
/*---- page-banner-menu ----*/    
    ul.function-menu li { }
    .left { width: 100%; margin-top: 20px; margin-left: 0; float: left; padding: 0 20px; box-sizing: border-box;}
    .right { float: right; margin-top: 20px; width: 100%; margin-right: 0; padding: 0 20px; box-sizing: border-box;}
    .left.modify_s_1 , .right.modify_s_1 { width: 100%; }
    .member-box { width: 75%; }
    ul.booking-msg-box li.teacher-img { width: 7%; padding: 7%; height: 0;}
    .all-video-box { width: 90%; float: left; margin: 15px 5%; background: #fff; border: solid 1px #cecece; box-sizing: border-box;}
    .change-day > div { float: left; margin-right: 20px; width: 100%; margin-top: 5px;}
    .change-day > div input { padding: 1px 10px; width: 100%; margin-top: 5px;}
/*--- day --*/
    div#ui-datepicker-div { width:80%;}
/*---  po-msg  ---*/
    .msg-box textarea { width: 87%; margin-left: 1%; float: left; height: 30px;}
    .send-box button { width: 100%; }
    .po-text input { width: 70%; height: 28px; padding: 0 10px;}
    .msg-btns > div { float: left; width: 20%; }
/*---  pop-up  ---*/    
    .pop-up video { width: 100%; margin: 25vh 0;}
    
    .teacher-dt .img-box { display: none; }
    .teacher-dt .date , .teacher-dt .about { width: 100%; }
    
    
}