* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
}

html, body, .container {
	height: 98%;
	width: 99%;
}

.row {
	margin: 1%;
}

#message_block {
	width: 100%;
	height: 90%;
	border: solid 2px black;
	overflow: auto;
}

#messages {
	list-style-type: none;
	margin: 10px;
	padding: 0;
}
/*      #messages li { 
					        padding: 5px 10px; 
					        font-size:16pt;
					      }
					      #messages li:nth-child(odd) { 
					        background: #eee; 
					      }*/

/* ============================================================================================================================
					      == BUBBLE WITH A BORDER AND TRIANGLE
					      ** ============================================================================================================================ */

/* THE SPEECH BUBBLE
					      ------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border-system-msg {
	position: relative;
	padding: 15px;
	margin: 1em 0;
	border: 5px solid #f2dede;
	color: #333;
	background: #fff;
	/* css3 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 16pt;
}

.triangle-border {
	position: relative;
	padding: 15px;
	margin: 1em 0;
	border: 5px solid #5a8f00;
	color: #333;
	background: #fff;
	/* css3 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 16pt;
}

/* Variant : for left positioned triangle
					      ------------------------------------------ */
.triangle-border.left {
	margin-left: 30px;
}

/* Variant : for right positioned triangle
					      ------------------------------------------ */
.triangle-border.right {
	margin-right: 30px;
	text-align: right;
}

/* THE TRIANGLE
					      ------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border:before {
	content: "";
	position: absolute;
	bottom: -20px; /* value = - border-top-width - border-bottom-width */
	left: 40px; /* controls horizontal position */
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #5a8f00 transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content: "";
	position: absolute;
	bottom: -13px; /* value = - border-top-width - border-bottom-width */
	left: 47px;
	/* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width: 13px 13px 0;
	border-style: solid;
	border-color: #fff transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
}

.

/* Variant : top
					      ------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
	top: -20px; /* value = - border-top-width - border-bottom-width */
	bottom: auto;
	left: auto;
	right: 40px; /* controls horizontal position */
	border-width: 0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
	top: -13px; /* value = - border-top-width - border-bottom-width */
	bottom: auto;
	left: auto;
	right: 47px;
	/* value = (:before right) + (:before border-right) - (:after border-right) */
	border-width: 0 13px 13px;
}

/* Variant : left
					      ------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
	top: 10px; /* controls vertical position */
	bottom: auto;
	left: -30px; /* value = - border-left-width - border-right-width */
	border-width: 15px 30px 15px 0;
	border-color: transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top: 16px;
	/* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom: auto;
	left: -21px; /* value = - border-left-width - border-right-width */
	border-width: 9px 21px 9px 0;
	border-color: transparent #fff;
}

/* Variant : right
					      ------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
	top: 10px; /* controls vertical position */
	bottom: auto;
	left: auto;
	right: -30px; /* value = - border-left-width - border-right-width */
	border-width: 15px 0 15px 30px;
	border-color: transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
	top: 16px;
	/* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom: auto;
	left: auto;
	right: -21px; /* value = - border-left-width - border-right-width */
	border-width: 9px 0 9px 21px;
	border-color: transparent #fff;
}