///
/// Hyperspace by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Wrapper (main) */

    #wrapper {
        #sidebar + & {
            margin-left: _size(sidebar-width);

            @include breakpoint(large) {
                margin-left: 0;
                padding-top: _size(sidebar-height);
            }

            @include breakpoint(small) {
                padding-top: 0;
            }
        }

        #header + & {
            > .wrapper {
                > .inner {
                    margin: 0 auto;
                }
            }
        }
    }