<body ng-controller="BasicSetting">
    <!-- header -->
    <header class="bc_BR tc_WS">
        <ul class="head-top">
            <li class="logo" ng-init="logoHover()">
                <a ng-show="seedata.data[0].f_backend != null" href="User.TeacherMyProfile">
                    <img src="images/logo_5.png" alt="">
                    <img src="images/logo_4.png" alt="">
                </a>

                <a ng-show="seedata.data[0].f_backend == null" href="Index">
                    <img src="images/logo_4.png" alt="">
                    <img src="images/logo_5.png" alt="">
                </a>
            </li>
            <li class="search">
                <div>
                    <form id="BasicFromCtrl" ng-controller="BasicFromCtrl">
                        <input ng-click="BasicSearch2()" id="inputTarget" class="text" ng-model="data.text" placeholder="{{ 'SEARCH_TEXT' | translate  }}" name="text" type="text" tabindex="-1">
                        <button class="seaechForSBtn" ng-click="BasicSearch()" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>

                </div>
            </li>
            <li ng-click="langChange()" class="lang">
                <span class="lang_name">繁中</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
            </li>
            <li class="btns tc_WS"><a href="Fan.ViewList">{{ 'TEACHERS' | translate }}</a></li>
            <li ng-click="member()" ng-show="seedata.data[0].f_backend == null" class="member">{{ 'SIGN_IN' | translate }}
            </li>
            <li ng-show="seedata.data[0].f_backend != null" class="fr">
                <span>
                    <div>Hi!</div>
                    <div ng-if="seedata.data[0].f_backend.identity =='teach'">
                        <a class="gotomypage" href="User.TeacherMyProfile">{{seedata.data[0].f_backend.name}}</a>
                    </div>
                </span>
                <a href="User.Logout">{{ 'LOGOUT' | translate }}</a>
            </li>
        </ul>


        <ul ng-init="langBoxHide()" class="lang-box">
            <li onClick="changeLanguage('cn');">簡中</li>
            <li onClick="changeLanguage('zh-tw');">繁中</li>
            <li class="last" onClick="changeLanguage('en');">EN</li>
        </ul>
    </header>

    <!-- Sidebar -->

    <script type="text/javascript-lazy">
        var lang = "zh-tw";
        if (typeof window.localStorage.lang != 'undefined') {
            lang = window.localStorage.lang.toLowerCase();
        } else {
            window.localStorage.lang = lang;
        }

        switch (lang) {
        case "zh-tw":
            $('.lang_name').html('繁中');
            break;
        case "cn":
            $('.lang_name').html('簡中');
            break;
        case "en":
            $('.lang_name').html('EN');
            break;
        default:
            changeLanguage('zh-tw');
        }

        function changeLanguage(lang_name) {
            window.localStorage.setItem('lang', lang_name);
            window.location.reload();
        }
        $(document).ready(init)

        function init() {
            $(function () {
                /* 幫 input 加上提示，用預設的 className(blur) */
                $("input[ng-attr-title!='']").hint();
                /* 幫 textarea 加上提示，並用自訂的 className */
                $("textarea[title!='']").hint("myBlur");
            });
        }
    </script>