<div class="mid">
    <!-- banner -->
    <div class="pageBanner">
        <div ng-repeat="profile_data1 in profile_data.data[0].tmp_list" class="banner" style="background-image: url(upload/teach/{{profile_data1.bg_image}}); background-position-y:{{profile_data1.bg_image_style}}%;">

            <div class="user-img">
                <img src="upload/teach/{{profile_data1.image}}" alt="">
            </div>
            <div class="user-name">{{profile_data1.nick_name}}</div>


        </div>
        <ul class="function-menu">
            <li><a href="User.TeacherMyProfile">{{ 'TEACHER_MY_PROFILE_TIME_LINE' | translate }}</a></li>
            <li><a href="video.html">{{ 'TEACHER_MY_PROFILE_VIDEO' | translate }}</a></li>
            <!--        <li><a href="Message.allMsg">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }}</a></li>-->
            <li><a href="Fan.MyFanList">{{ 'FAN_GROUP' | translate }}</a></li>
            <!--        <li class="privatelistBtn" ng-click="privateList = ! privateList">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }}</li>-->
            <li><a href="User.TeacherEdit">{{ 'TEACHER_MY_PROFILE_MODIFY_DATA' | translate }}</a></li>
            <li class="float-right recommend">{{ 'TEACHER_MY_PROFILE_RECOMMEND' | translate }}</li>
            <li ng-if="seedata.data[0].f_backend.type_id >='2' "><a href="User.inviteMang">邀請加入</a></li>
        </ul>
    </div>
    <!-- banner END -->

    <div class="qrcold_invite">

        <div class="new_qrcode">
            <div ng-if="seedata.data[0].f_backend.type_id =='2' ">
                <button ng-click="QRLinkCreate('A')" class="bc_BR tc_WS" type="button"><i class="fa fa-qrcode" aria-hidden="true"></i> 建立仲介邀請碼</button>
                <button ng-click="QRLinkCreate('S')" class="bc_BR tc_WS" type="button"><i class="fa fa-qrcode" aria-hidden="true"></i> 建立學生邀請碼</button>
            </div>
            <div ng-if="seedata.data[0].f_backend.type_id =='3' ">
                <button ng-click="QRLinkCreate('S')" class="bc_BR tc_WS" type="button"><i class="fa fa-qrcode" aria-hidden="true"></i> 建立學生邀請碼</button>
            </div>
            <div>每次建立的邀請碼有效時間為24小時，請通知受邀者於有效時間內完成註冊動作。</div>
        </div>

        <div ng-repeat="(key_this_qrcode , this_qrcode) in qrlink_data.data['0'].qrcode_list track by $index" class="qr_group">
            <ul class="qrClde_data">
                <li class="qrimg" ng-click="showQRcode($event)"><img ng-src="{{'upload/qrcode/'+this_qrcode.image}}" alt=""></li>
                <li>
                    <input type="text" ng-model="this_qrcode.note" placeholder="註釋這個QRclod">
                    <button ng-click="QRLinkEditUP(this_qrcode)" class="bc_BR tc_WS" type="button">儲存備註</button>
                </li>
                <li class="registerLink"><span>{{this_qrcode.url}}</span></li>
                <li>有效時間 : {{this_qrcode.expire_date}}</li>
                <li>類別 :
                    <span ng-if="this_qrcode.type =='A'">Agent</span>
                    <span ng-if="this_qrcode.type !='A'">Student</span>
                </li>
                <li class="qrcodeBtn">
                    <button ng-click="showQRcode($event)" class="openCode" type="button">放大 QR Code</button>
                    <button class="removeQRCode" ng-click="QRLinkDeleteUP(this_qrcode,key_this_qrcode)" type="button">刪除 QR Code</button>
                </li>
            </ul>
            <ul ng-repeat="(key_this_qrcode_data , this_qrcode_data) in this_qrcode.qrcode_data track by $index" class="qr_join_user_data">


                <li class="user_NO">
                    <div>NO</div>
                    <div>{{key_this_qrcode_data +1}}</div>
                </li>

                <li class="user_JT">
                    <div>申請時間</div>
                    <div>{{this_qrcode_data.post_date}}</div>
                </li>

                <li class="user_E">
                    <div>E-mail</div>
                    <div><a href="{{this_qrcode_data.loginid}}">{{this_qrcode_data.loginid}}</a></div>
                </li>
                <li class="user_E2">
                    <div>已認證</div>
                    <div>
                        <i ng-if="this_qrcode_data.email_va =='Y'" class="fa fa-check" aria-hidden="true"></i>
                        <i ng-if="this_qrcode_data.email_va !='Y'" class="fa fa-times" aria-hidden="true"></i>

                    </div>
                </li>
                <li class="user_N">
                    <div>Name</div>
                    <div><a href="Course.TeacherText/{{this_qrcode_data.user_id}}">{{this_qrcode_data.nick_name}}</a></div>
                </li>
                <li class="user_iC">
                    <div>核可申請</div>
                    <div ng-if="this_qrcode_data.approval =='Y'">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="approval_Y">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div ng-if="this_qrcode_data.approval !='Y'">
                        <label ng-click="QRLinkApproval($event,this_qrcode_data)" class="checkboxLabel bc_BR tc_WS btn">
                            開通帳號
                        </label>
                    </div>
                </li>
                <li class="user_iC">
                    <div>封鎖</div>
                    <div class="open_a">
                        <label class="bc_BR tc_WS btn" ng-click="QRLinkBlock(this_qrcode_data,'N',$event)" for="open_this_suer_1" class="checkboxLabel">
                            封鎖帳號
                        </label>

                    </div>
                    <div class="close_a">
                        <label class="bc_BR tc_WS btn" ng-click="QRLinkBlock(this_qrcode_data,'Y',$event)" class="checkboxLabel">
                            解除封鎖
                        </label>

                    </div>
                </li>
                <li class="user_dt">
                    <div>刪除</div>
                    <input class="bc_BS tc_WS btn" ng-click="QRLinkAccountDelete(this_qrcode_data,key_this_qrcode_data,key_this_qrcode)" value="刪除帳號" type="button">

                </li>
                <li class="annotation">
                    <div>
                        <button class="open_ann" ng-click="openAnn($event)" type="button">展開註釋</button>
                    </div>
                    <div class="annotation_con">
                        <textarea name="" id="" ng-model="this_qrcode_data.invite_note" placeholder="幫該用戶寫點什麼吧，方便自己記憶他是誰。">{{this_qrcode_data.invite_note}}</textarea>
                        <button ng-click="QRLinkUserNoteEditUP(this_qrcode_data)" class="save" type="button">儲存</button>
                    </div>
                </li>
            </ul>

        </div>



    </div>

</div>

<!-- 自己的全部私人訊息 -->
<div ng-show="privateList" class="private_msg_list bor_s_1 ">
    <div class="title bc_BR tc_WS">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }} <i ng-click="privateList = ! privateList" class="fa fa-times" aria-hidden="true"></i> </div>
    <div class="list_box">
        <div class="name_box bor_b">
            <div ng-click="schoolName = ! schoolName">
                <div class="user_img">
                    <img src="images/book.jpg" alt="">
                </div>
                <div class="user_name">學校名稱</div>
            </div>

            <!--  私人訊息 pop up  -->
            <div ng-show="schoolName" class="private_msg_pup bor_s_1">
                <div class="title bc_BR tc_WS">
                    <div ng-click="packUp()" class="talkName">學校名稱</div> <i ng-click="schoolName = ! schoolName" class="fa fa-times" aria-hidden="true"></i></div>

                <div class="msg_box bor_b">
                    <!-- 其他人的發話 -->
                    <div class="others">
                        <div>
                            {{profile_data1.id}}{{ message.nick_name }}
                        </div>
                        <div class="others_img">
                            <img src="images/book.jpg" alt="">
                        </div>
                        <div class="say">
                            {{ message.message }} asdasfasfasfasfaasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsds

                            <a target="_blank" ng-href="{{'upload'+message.path}}" ng-if="message.path != null && message.path != ''">{{ message.original_name }}</a>
                        </div>

                        <div class="time">
                            {{ message.created_at }} 12:00

                        </div>

                    </div>
                    <!-- 其他人的發話 END -->

                    <!-- 自己的發話 -->
                    <div class="self">

                        <div class="say">
                            {{ message.message }} asdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsa

                            <a target="_blank" ng-href="{{'upload'+message.path}}" ng-if="message.path != null && message.path != ''">{{ message.original_name }}</a>
                        </div>

                        <div class="time">
                            {{ message.created_at }} 12:01

                        </div>

                    </div>
                    <!-- 自己的發話 END -->

                </div>
                <!--  對話紀錄區  -->

                <div class="key_in_box">

                    <div class="kin_in_text" contenteditable="true"></div>
                    <!-- 輸入框 -->

                    <div class="u_b u_i up_img">
                        <input name="file" id="files_date" nstyle="" type="file">
                    </div>
                    <!-- 上傳檔案  -->

                    <button type="button" onClick="sendMessage()" class="bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_SEND' | translate }}</button>
                    <!-- 送出按鈕  -->
                </div>
                <!-- 輸入區  -->
            </div>
            <!--  私人訊息 pop up END  -->

        </div>
    </div>
</div>
<!-- 自己的全部私人訊息 -->
<div class="loading">
    <div class="hiLoad">
        <div id="floatingCirclesG">
            <div class="f_circleG" id="frotateG_01"></div>
            <div class="f_circleG" id="frotateG_02"></div>
            <div class="f_circleG" id="frotateG_03"></div>
            <div class="f_circleG" id="frotateG_04"></div>
            <div class="f_circleG" id="frotateG_05"></div>
            <div class="f_circleG" id="frotateG_06"></div>
            <div class="f_circleG" id="frotateG_07"></div>
            <div class="f_circleG" id="frotateG_08"></div>
        </div>
        <div class="hi"><img src="../../images/hi-02.png" alt=""></div>
    </div>
</div>