<div class="mid joinP">
    <div class="joinPage">
        <div class="box">
            <!-- 註冊 -->
            <form ng-submit="submit_reg(data)" autocomplete="on" ng-controller="UserRegisterCtrl">

                <div class="member-box bc_WS register-box">
                    <div class="title tc_BR">{{ 'REGISTER_TITLE' | translate }}</div>

                    <div class="general">
                        <span>{{ 'REGISTER_GENERAL' | translate }}</span>
                        <div class="email">
                            <input required type="email" ng-model="data.loginid" placeholder="{{ 'NEW_ACCOUNT' | translate }} : {{ 'REGISTER_INPUT_EMAIL_TITLE' | translate }}">
                        </div>
                        <div class="phone">
                            <input required type="tel" ng-model="data.phone" placeholder="{{ 'REGISTER_INPUT_PHONE_TITLE' | translate }}">
                        </div>
                        <div class="name">
                            <input required type="text" ng-model="data.nick_name" placeholder="{{ 'USER_YOU_NAME' | translate }}">
                        </div>
                        <div class="password">
                            <input required ng-click="pwdfun()" class="pwd pwdinput" type="password" ng-model="data.loginpwd" placeholder="{{ 'REGISTER_INPUT_PASSWORD_TITLE' | translate }}">
                        </div>
                        <div class="password-again">
                            <input required ng-click="pwdfun()" class="again_pwd pwdinput" type="password" placeholder="{{ 'REGISTER_INPUT_AGAIN_PASSWORD_TITLE' | translate }}">
                        </div>

                        <div class="email">
                            <input disabled  type="text" placeholder="邀請人:{{qrlink_data.data['0'].invite_arr['0'].loginid}}">
                        </div>  
                        <div class="expiretime">
                            <input disabled  type="text" placeholder="到期時間:{{qrlink_data.data['0'].qrcode_list['0'].expire_date}}">
                            <input id="invite_url" value="{{qrlink_data.data['0'].qrcode_list['0'].url}}"  type="hidden" >
                            <input id="invite_loginid" value="{{qrlink_data.data['0'].invite_arr['0'].loginid}}"  type="hidden" >
                        </div> 
                    </div>
                    <button ng-click="saveBtnEvent()" class="register-btn bc_BR">{{ 'REGISTER_BUTTON' | translate }}</button>
                </div>

            </form>
            <!-- 註冊 END -->
        </div>
    </div>
</div>


 <div class="loading">
        <div class="hiLoad">
            <div id="floatingCirclesG">
                <div class="f_circleG" id="frotateG_01"></div>
                <div class="f_circleG" id="frotateG_02"></div>
                <div class="f_circleG" id="frotateG_03"></div>
                <div class="f_circleG" id="frotateG_04"></div>
                <div class="f_circleG" id="frotateG_05"></div>
                <div class="f_circleG" id="frotateG_06"></div>
                <div class="f_circleG" id="frotateG_07"></div>
                <div class="f_circleG" id="frotateG_08"></div>
            </div>
            <div class="hi"><img src="../../images/hi-02.png" alt=""></div>
        </div>
    </div>